



<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Matriz de Riesgos</title>
      <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">

        <!--<link href="../../static/riesgo/css/vendor.css" rel="stylesheet">-->

    </head>


    <body>

        <div id="header"></div>


        <!-- VISTA ACUERDOSMODIFICACIONES-->
        <div class="well"></div>

        <div class="container">
            <input  id="suma" type="text" style="display:none" value=1>
            <div class="col-md-12" role="main">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-center">  Acuerdos y Modificaciones </h3>
                        <form  name="form1">
                            <table class="table table-striped" width="100%" id="tablaAcuerdosMod">

                                <tr>
                                    <td width="10%"><b>Día</b></td>
                                    <td width="10%"><b>Hora</b></td>
                                    <td width="80%"><b>Acuerdos</b></td>

                                </tr>

                                <tbody class="cuerpo-tabla" id="tablaAcuerdos">

                                    <!--Contenido Tabla Acuerdos-->
                                    <tr>
                                      
                                     <td ><input readonly class="form-control diaAcuerdos"  id="fechas0" type="date"></td> <!--id 7 palabras  funciona y 1 num al final-->
                                    <td><input readonly class="horasAcuerdos form-control" type="time"  id="horas_0" ></td>
                                        <td><input readonly class="acuerdosA form-control" type="text"  id="acuerdo0" ></td>

                                    </tr>
                                </tbody>
                            </table>


                            <button class="btn btn-success" id="agregar">Agregar</button>

                            <div class="col-md-12"  style="text-align:center">
                                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                                <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                            </div>
                        </form>  
                    </div>   
                </div>
            </div>
        </div>
    </body> </html>





<script src="../../assets/js/jquery-1.7.1.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/riesgo/js/planRiesgosAtenas.js"></script>
<script src="../../assets/js/header.js"></script>
<script src="../../static/riesgo/js/acuerdosAtenas.js"></script>

