<!DOCTYPE html>
<html lang="es">
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Registrar Riesgos</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

        <!-- Tablesorter: optional -->
        <link rel="stylesheet" href="../../tablesorter/css/jquery.tablesorter.pager.css">
        <link rel="stylesheet" href="../../tablesorter/css/theme.bootstrap.css">
        <style>

        </style>
    </head>

    <body>
        <div id="header"></div>

        <div class="container">
            <div class="h1-title">
                <h2></h2>

            </div>
            <div class="col-lg-12">
                <table id="tablaRiesgosGlobal" class = "tablesorter - {bootstrap}">
                    <thead >
                        <tr>
                            <th>ID</th>
                            <th>Nombre de Riesgo</th>
                            <th>Paquete de EDT</th>
                            <th>Tipo</th>
                            <th>Categoria Riesgo</th>
                            <th>Impacto</th>
                            <th>Probabilidad</th>
                            <th>Severidad</th>
                            <th>Estado Actual</th>
                            <!--<th>Costo Potencial</th> 
                            <th>Demora Potencial</th> -->
                            <th>Encargado</th>
                            <th colspan="2">Acciones</th>
                            <th> Confirmar</br><input id="checkearTodos" type="checkbox" value=0></th>
                             <th> </th>
                             <th> </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="15" class="pager form-horizontal">
                              <button type="button" class="btn first"><i class="glyphicon glyphicon-fast-backward"></i></button>
                              <button type="button" class="btn prev"><i class="glyphicon glyphicon-backward"></i></button>
                              <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                              <button type="button" class="btn next"><i class="glyphicon glyphicon-forward"></i></button>
                              <button type="button" class="btn last"><i class="glyphicon glyphicon-fast-forward"></i></button>
                              <select class="pagesize input-mini" title="Select page size">
                                <option selected="selected" value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                              </select>
                              <select class="pagenum input-mini" title="Select page number"></select>
                            </th>
                          </tr>
                    </tfoot>
                    <tbody class="cuerpo-tabla" id="tablaRiesgos">

                    </tbody>
                    

                </table>
            </div>
            <div>
                <div class="col-lg-2 pull-left">
                <a href="../riesgo/RegistrarRiesgos.html" class="btn btn-success pull-left" id="registrarRiesgo">Agregar Riesgo</a>
                </div>
                <div class="col-lg-2 pull-left">
                    <a class="btn btn-primary pull-left" data-toggle="modal" href="#confirmRisk" id="confirmarRiesgo">Confirmar Riesgos</a>
                </div>
                
                
            </div>

            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Confirmación de eliminación </h3>
                    </div>
                    <div class="modal-body">
                       <label class="col-lg-12 control-label">Esta seguro que desea eliminar este riesgo</label>
                    </div>
                    <div class="modal-footer">
                               <button class="btn btn-danger"  id="btnEliminar">Eliminar</button>
                               <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

              <!--

            <div class="modal" id="confirmDelete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Confirmación de eliminación </h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label">Esta seguro que desea eliminar este riesgo</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger"  id="btnEliminar">Eliminar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>
            -->
            <div class="modal" id="confirmMaterializar">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Confirmación de materialización </h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label">¿Esta seguro que desea materializar este riesgo?</label>
                                <div class="col-md-5"><input type="date" class="form-control" id="fechaMat"></div>
                                <div class="col-md-5">
                                    <select class="form-control" id="accionEscogida">
                                        <option value="0" disabled selected>Escoga una acción</option>
                                    </select>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" id="btnMaterializar">Materializar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>


            <!-- Modal para la confirmación de riesgo -->
            <div id="confirmRisk" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirmación de Riesgo</h4>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label">¿Esta seguro que desea confirmar este riesgo?</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" id="btnConfirmar">Confirmar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
            <div class="modal fade" id="ModaldeErroresIndex">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Se ha encontrado un error</h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label" id="labelErrorModalIndex"></label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>

<div class="modal fade" id="modalExitoIndex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Confirmación</h3>
                    </div>
                    <div class="modal-body">
                       <label class="col-lg-12 control-label" id="labelSuccessModalIndex"></label>
                    </div>
                    <div class="modal-footer">
                             <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->



            <div class="modal" id="ModaldeErrores">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Se ha encontrado un error</h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label" id="labelErrorModal"></label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="modal" id="modalExito">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Confirmación</h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label">Se ha registrado con exito</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>

           
        <script src="../../assets/js/jquery-1.7.1.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/riesgo/js/RegistrarRiesgos.js"></script>
        <script src="../../assets/js/header.js"></script>

        <!-- Tablesorter: required for bootstrap -->
        <script src="../../tablesorter/js/jquery.tablesorter.js"></script>
        <script src="../../tablesorter/js/jquery.tablesorter.widgets.js"></script>

        <!-- Tablesorter: optional -->
        <script src="../../tablesorter/js/jquery.tablesorter.pager.js"></script>

        <!-- Tablesorter: Config bootstrap  -->
        <script src="../../tablesorter/js/config.js"></script>
        
        <!-- Tablesorter: Config filtros  -->
        <script src="../../tablesorter/js/filtros.js"></script>

    </body>
</html>
