<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">

        <title>Plan de Riesgos</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DP2</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">General<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../views/general/RegistrarProyecto.html">Registrar Proyecto</a></li>           
                            </ul>
                        </li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alcance<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../views/alcance/index.html">Ver EDT</a></li>
                                <li><a href="../../views/alcance/diccionario.html">Diccionario EDT</a></li>            
                            </ul>
                        </li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cronograma<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../views/cronograma/index.html">Mostrar Gantt</a></li>            
                            </ul>
                        </li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Costo<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../views/costo/AsignaCostoRecursos.html">Registrar presupuesto</a></li>
                                <li><a href="../../views/costo/VisualizarPresupuesto.html">Visualizar Presupuesto</a></li>
                                <li><a href="../../views/costo/AsignaCuenta.html">Asignar cuenta contable</a></li>
                            </ul>
                        </li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Riesgos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../views/riesgo/registrarRiesgo.html">Mostrar riesgos</a></li>          
                            </ul>
                        </li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>



        <div class="ui-container-fluid">
            <div class="ui-sidebar">
                <div class="well">
                </div>
            </div>
        </div>
        <div class="container-fluid">


            <div class="col-md-3" >

                <div class="well" id="sideBarNavegacion" >
                    <ul class="nav nav-pills nav-stacked">
                        <li ><a href="#">Acuerdos y Modificaciones</a></li>
                        <li class="active" ><a href="#" >Plan de Riesgos</a></li>
                        <li><a href="#">Configuración</a></li>
                    </ul>


                </div>
            </div>

            <div class="col-md-9" role="main">
                <div class="container">
                    <label  class="col-lg-2 control-label">Metodología</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form  name="form1">

                                <table class="table-striped" width="90%" id="tablaRecursos">
                                    <thead class="titulo-tabla">

                                        <tr>
                                            <td width="30%"><b>Día</b></td>
                                            <td width="20%"><b>Hora</b></td>
                                            <td width="20%"><b>Acuerdos</b></td>
                                        </tr>
                                    </thead>
                                    <tbody class="cuerpo-tabla" id="tablaAcuerdos">

                                    </tbody>
                                </table>

                                <table><tr>&nbsp;
                                    </tr>
                                    <tr>&nbsp;
                                    </tr><tr>&nbsp;
                                    </tr></table>
                                <div class="span6"  style="text-align:center">
                                    <button type="button" class="btn btn-primary" id="btnGrabar">Guardar</button>
                                    <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                                </div>
                            </form>  
                        </div>
                    </div>
                    </div>
                </div><!-- /.container -->

                </body>
                </html>
