<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Registrar Riesgos</title>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DP2</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="h1-title">
        <h1>Mi Proyecto</h1>
      </div>  
      <div class="container">
        <div class="col-lg-12">
          <form class="well" action="#" method="get">
            <fieldset>
              <label class="control-label"> Ingrese el nombre del riesgo a buscar: </label>
              <input class="input-xlarge" type="text" name="search" id="search">
              <button class="btn btn-primary" type="submit">Buscar</button>
              <input class="btn btn-primary" type="button" id="AgregarRiesgo" value="Agregar Riesgo">
            </fieldset>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead class="titulo-tabla">
              <th>ID</th>
              <th>Nombre de Riesgo</th>
              <th>Actividad</th>
              <th>Objetivo afectado</th>
              <th>Impacto</th>
              <th colspan="2">Probabilidad</th>
              <th>Severidad</th>
              <th>Estrategia</th>
              <th>Acciones Específicas</th>
              <th>Costo Esperado</th>
              <th>Tiempo Esperado</th>
              <th>Equipo Responsable</th>
              <th colspan="3">Acciones</th>
            </thead>
            <tbody class="cuerpo-tabla" id="tablaRiesgos">
            
            </tbody>
          </table>
        </div>      
      </div>  
    </div>
    <script src="../../assets/js/jquery-1.7.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/RegistrarRiesgos.js"></script>
  </body>
</html>