<!DOCTYPE html>
<html lang="es">
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Riesgos Materializados</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

        <!-- Tablesorter: optional -->
        <link rel="stylesheet" href="../../tablesorter/css/jquery.tablesorter.pager.css">
        <link rel="stylesheet" href="../../tablesorter/css/theme.bootstrap.css">
        <style>

        </style>
    </head>

    <body>
        <div id="header"></div>

        <div class="container">
            <div class="h1-title">
                <h2>Mi Proyecto</h2>

     
            </div>
            <div class="col-lg-12">
                <table id="tablaRiesgosMaterializar" class = "tablesorter - {bootstrap}">
                    <thead >
                        <tr>
                       <th>IdRiesgo</th>
                            <th>Nombre de Riesgo</th>
                            <th>Fecha Materialización</th>
                           <!-- <th>Fecha Ejecución</th>-->
                          
                           <th>Costo Esperado</th>
                            <th>Demora Potencial</th>
                            <!--<th>Acciones Especificas</th>-->
                          
                          
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                             <th>IdRiesgo</th>
                            <th>Nombre de Riesgo</th>
                            <th>Fecha Materialización</th>
                           <!-- <th>Fecha Ejecución</th>-->
                          
                           <th>Costo Esperado</th>
                            <th>Demora Potencial</th>
                            <!--<th>Acciones Especificas</th>-->
                          
                        </tr>
                        <tr>
                            <th colspan="13" class="pager form-horizontal">
                              <button type="button" class="btn first"><i class="glyphicon glyphicon-fast-backward"></i></button>
                              <button type="button" class="btn prev"><i class="glyphicon glyphicon-backward"></i></button>
                              <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                              <button type="button" class="btn next"><i class="glyphicon glyphicon-forward"></i></button>
                              <button type="button" class="btn last"><i class="glyphicon glyphicon-fast-forward"></i></button>
                              <select class="pagesize input-mini" title="Select page size">
                                <option selected="selected" value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                              </select>
                              <select class="pagenum input-mini" title="Select page number"></select>
                            </th>
                          </tr>
                    </tfoot>
                    <tbody class="cuerpo-tabla" id="tablaRiesgosMat">

                    </tbody>
                    

                </table>
            </div>
            </div>
          
            
                   
<script>
    var idVista=10;
    
</script>
<script src="../../static/riesgo/js/seguridadRiesgos.js"></script>
        <script src="../../assets/js/jquery-1.7.1.min.js"></script>
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/riesgo/js/RegistrarRiesgos.js"></script>
        <script src="../../assets/js/header.js"></script>

        <!-- Tablesorter: required for bootstrap -->
        <script src="../../tablesorter/js/jquery.tablesorter.js"></script>
        <script src="../../tablesorter/js/jquery.tablesorter.widgets.js"></script>

        <!-- Tablesorter: optional -->
        <script src="../../tablesorter/js/jquery.tablesorter.pager.js"></script>

        <!-- Tablesorter: Config bootstrap  -->
        <script src="../../tablesorter/js/config.js"></script>
        
        <!-- Tablesorter: Config filtros  -->
        <script src="../../tablesorter/js/filtros.js"></script>

    </body>
</html>
