<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Busqueda de Recursos Humanos</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
		<ul class="nav nav-tabs nav-justified">
		  <li class="active"><a href="#registrar" data-toggle="tab">Buscar Recurso</a></li>
		</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="buscar">
		<p>
		<form class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  	<!-- Nombre del Proyecto -->
			  	<label class="col-lg-4 control-label"  for="apPaterno">Apellido Paterno:</label>
			  	<div class="controls col-lg-6">
					<input class="form-control" type="text" id="apPaterno" name="apPaterno" placeholder="" class="input-xlarge" size="4">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
			  	<!-- Nombre del Proyecto -->
			  	<label class="col-lg-4 control-label"  for="apMaterno">Apellido Materno:</label>
			  	<div class="controls col-lg-6">
					<input class="form-control" type="text" id="apMaterno" name="apMaterno" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
			  	<!-- Nombre del Proyecto -->
			  	<label class="col-lg-4 control-label"  for="nombre">Nombre:</label>
			  	<div class="controls col-lg-6">
					<input class="form-control" type="text" id="nombre" name="nombre" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-default" id="btnGrabar" onclick="$(location).attr('href','ResultadoBuscarRecursoHumano.html');">
								Buscar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-default" onclick="window.close();">
								Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  	<script src="../../assets/js/jquery-1.7.1.min.js"></script>
</html>