<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

     <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Tablesorter: optional -->
    <link rel="stylesheet" href="../../tablesorter/css/jquery.tablesorter.pager.css">
    <link rel="stylesheet" href="../../tablesorter/css/theme.bootstrap.css">
    <style>
    <!--
       .fila{
       }
       .seleccionado{
          background: rgb(255,255,153);
       }
    //-->
    </style>

  </head>

  <body>
    
    <div id="headerGeneral"></div>

    <div class="container">

      <div class="starter-template">
          <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Lista de Solicitudes de Cambio</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>

        <div class="" id="ListaSolicitudesCambio">
          
        <form role="form" name="formListaSolicitudes">

          <div class="" >
      <table id="ListaSolicitudes" class="tablesorter" width="90%" >      
        <thead>
          <tr>
            <th><b>#</b></th>
            <th><b>Nombre del Proyecto</b></th>
            <th><b>Jefe del Proyecto</b></th>
            <th class="filter-select filter-exact" data-placeholder="Seleccione"><b>Estado</b></th>
            <th><b>Acción</b></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><b>#</b></th>
            <th><b>Nombre del Proyecto</b></th>
            <th><b>Jefe del Proyecto</b></th>
            <th class="filter-select filter-exact" data-placeholder="Seleccione"><b>Estado</b></th>
            <th><b>Acción</b></th>
          </tr>
          <tr>
            <th colspan="7" class="pager form-horizontal">
              <button type="button" class="btn first"><i class="icon-step-backward"></i></button>
              <button type="button" class="btn prev"><i class="icon-arrow-left"></i></button>
              <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
              <button type="button" class="btn next"><i class="icon-arrow-right"></i></button>
              <button type="button" class="btn last"><i class="icon-step-forward"></i></button>
              <select class="pagesize input-mini" title="Select page size">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
              <select class="pagenum input-mini" title="Select page number"></select>
            </th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>

    </div>  
            
          <table>
            <tr>&nbsp</tr>
            <tr>&nbsp</tr>
            <tr>&nbsp</tr>
          </table>

        </form>   
      </div>  


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Solicitud de Cambio</h4>
            </div>
            <div class="modal-body">
              <div id="busquedaRecursosDisponibles">
                <form class="form-horizontal" role="form" action='' method="POST">
                  <fieldset>
                    
                    <div class="form-group">
                      <label class="col-lg-4 control-label" for="nombreProyecto">Nombre del proyecto:</label>
                      <div class="controls col-lg-6">
                        <input class="form-control" type="text" id="nombreProyecto" name="nombreProyecto" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4 control-label" for="rubroCambio">Rubros de Cambio:</label>
                      <div class="controls col-lg-6">
                        <input class="form-control" type="text" id="rubroCambio" name="rubroCambio" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4 control-label" for="descripcion">Descripción:</label>
                      <div class="controls col-lg-6">
                        <textarea rows="4" cols="50" id="descripcion" name="descripcion" readonly></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4 control-label" for="justificacion">Justificación:</label>
                      <div class="controls col-lg-6">
                        <textarea rows="4" cols="50" id="justificacion" name="justificacion" readonly></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <!-- Fecha de Preparacion -->
                      <label class="col-lg-4 control-label" for="ff">Fecha:</label>
                      <div class="controls col-lg-6">
                      <input class="form-control"type="date" id="ff" name="ff" placeholder="" class="input-xlarge" max=today readonly>
                      <!--<p class="help-block">Please confirm password</p>-->
                      </div>
                    </div>
                  </fieldset>

                  <div class="form-group">
                    <div class="controls">
                      <table width="100%">      
                        <tr width="100%">
                          <td width="50%" align="right">
                            <button type="button" class="btn btn-danger" id="btnAprobar">
                              Aprobar
                            </button>
                          </td>
                          <td width="50%" align="left">
                            <button type="button" class="btn btn-danger" id="btnRechazar">
                              Rechazar
                            </button>
                          </td>
                        </tr>     
                      </table>
                    </div>
                  </div>
                </form>
              </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->     




    </div><!-- /.container -->






    <!-- Bootstrap core JavaScript
    ==================lang================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/general/js/ListaSolicitudCambio.js"></script>
    <script src="../../assets/js/headerGeneral.js"></script>


        <!-- Tablesorter: required for bootstrap -->
    <script src="../../tablesorter/js/jquery.tablesorter.js"></script>
    <script src="../../tablesorter/js/jquery.tablesorter.widgets.js"></script>

    <!-- Tablesorter: optional -->
    <script src="../../tablesorter/js/jquery.tablesorter.pager.js"></script>

    <!-- Tablesorter: Config bootstrap -->
    <script src="../../tablesorter/js/config.js"></script>
    
    <!-- Tablesorter: Config filtros -->
    <script src="../../tablesorter/js/filtros.js"></script>
  </body>
</html>