<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/general/css/general.css" rel="stylesheet">
    <link href="../../static/general/css/validacion.css" rel="stylesheet">

  </head>

  <body>
  	<div id="headerGeneral">

    </div>
    <div class="container">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Registrar nuevo recurso humano</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="registrar">
		<p>
		<form id="registrarRecurso" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  	<!-- Nombre del Proyecto -->
			  	<label class="col-lg-4 control-label"  for="nombreRecurso">Nombre del Recurso:</label>
			  	<div class="controls col-lg-6">
					<input class="form-control" type="text" id="nombreRecurso" name="nombreRecurso" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>
			<div class="form-group">
			  	<!-- Nombre del Proyecto -->
			  	<label class="col-lg-4 control-label"  for="apellidoRecurso">Apellido del Recurso:</label>
			  	<div class="controls col-lg-6">
					<input class="form-control" type="text" id="apellidoRecurso" name="apellidoRecurso" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
			  <!-- Jefe de Proyecto -->
			  <label class="col-lg-4 control-label" for="profesionRecurso">Profesión:</label>
			  <div class="controls col-lg-6">
				<select class="form-control" id="profesionRecurso" name="profesionRecurso" placeholder="" class="input-xlarge">
			

				</select>
				<!--<p class="help-block">Please provide your E-mail</p>-->
			  </div>
			</div>
			<div class="form-group">
			  <!-- Jefe de Proyecto -->
			  <label class="col-lg-4 control-label" for="correoRecurso">Correo Electrónico:</label>
			  <div class="controls col-lg-6">
					<input class="form-control" type="text" id="correoRecurso" name="correoRecurso" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
		
			  <label class="col-lg-4 control-label" for="pagoMensual">Pago Mensual (S/.):</label>
			  <div class="controls col-lg-6">
					<input class="form-control" type="text" id="pagoMensual" name="pagoMensual" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  	</div>
			</div>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnGrabar">
								Grabar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" onclick="$(location).attr('href','ListaProyectos.html');">
								Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/general/js/jquery.validate.min.js"></script>
  	<script src="../../static/general/js/bootbox.min.js"></script>  	
  	<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
  	<script src="../../static/general/js/RegistrarRecursoHumano.js"></script>
  	<script src="../../assets/js/headerGeneral.js"></script>
  </body>
</html>