body {
  padding-top: 50px;
  font-size: 13px;
}
.h1-title {
  padding: 40px 15px;
  text-align: center;
}
.input-xlarge {
  width: 270px;
}
.titulo-tabla {
  font-size: 13px;
}
.cuerpo-tabla {
  font-size: 11px;
}
.imagen-calculadora {
	
	background-image: url('../image/calculator.png');
	background-repeat: no-repeat;
	display: block;  /* may not need this, but I've found I do */
	height:16px;
	width:16px;
	
}
textarea{
	resize:none;
}
.well-lg {
  padding: 35px;
  border-radius: 15px;
  }
.pull-left {
  margin-right: 10px;
  margin-left: 1px;
}
.big-alert{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-modal {
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ol.vertical {
  margin: 0 0 9px 0; }

  ol {
  list-style-type: none; }

ol {
  list-style: decimal; }

li {
  line-height: 18px; }


ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }


ol {
  list-style-type: none; }

ol.nested_with_switch li, ol.simple_with_animation li, ol.default li { 
  cursor: pointer; }

  .input-mini {
  width: 60px; }

  textarea,
  input[type="text"],
  .uneditable-input {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

  select,
  textarea,
input[type="text"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555; }