body {
  padding-top: 50px;
}
.h1-title {
  padding: 40px 15px;
  text-align: center;
}
.input-xlarge {
  width: 270px;
}
.titulo-tabla {
  font-size: 13px;
}
.cuerpo-tabla {
  font-size: 11px;
}
.imagen-calculadora {
	
	background-image: url('../image/calculator.png');
	background-repeat: no-repeat;
	display: block;  /* may not need this, but I've found I do */
	height:16px;
	width:16px;
	
}
textarea{
	resize:none;
}