<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSq_OVkFHdfSoPC0IfJIvAC6IIngamxeeCBsd2oIKGkHL32kYwa">

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

	<title>Cronograma</title>

  <script src="../../static/cronograma/js/jquery.min.js"></script>
  <script src="../../static/cronograma/js/jquery-ui.min.js"></script>
  
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
 
    <div id="header"></div>
    
   

    <div align = "center">
    	<br>
    	<h1 style="font-weight:bold; border-bottom: 1px solid; text-transform: uppercase;">DIAGRAMA DE RED</h1>
    	
    	  <div id="leyenda" class="ui-widget-content node" style="width: 200px; height: 130px;left:1px; top:130px ;border:0px;">
	    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
	    		<tbody>
	    			<tr>
	    				<td colspan="3" width="100%" align="center" valign="bottom">
	    					<div id="36_n" class="dgrm_13859316201076871port ui-draggable ui-droppable" style="position: relative;">
	    						<img src="../../static/cronograma/pirateado/images/redport.png">
	    					</div>
	    				</td>
	    			</tr>
	    			
                        
	    			<tr style="height: 100%;">
	    				<td width="1%" valign="middle" align="right">
	    					<div id="36_w" class="dgrm_13859316201076871port ui-draggable ui-droppable" style="position: relative;">
	    						<img src="../../static/cronograma/pirateado/images/redport.png">
	    					</div>
	    				</td>
	
                                                                                           <td id="36_content" valign="middle" align="center" style="border: 5px solid #B32323;background-color: #FFFFFF;FONT-FAMILY: verdana; COLOR: #000000; FONT-SIZE: 7pt; TEXT-DECORATION: none; ">
	    					<label style="font-weight:bold; text-align: center; font-size:12px; float:left; border-bottom: 4px solid #B32323;  border-right: 4px solid #B32323; padding: 6px;">ES</label>
	    					<label style="font-weight:bold; text-align: center; font-size:12px; float:right; border-bottom: 4px solid #B32323; border-left: 4px solid #B32323;padding: 6px;">EF</label>
	    					<br>
	    					<br>
	    					<label style="font-size:10px; font-weight:bold; border-bottom: 1px solid; text-transform: uppercase;">Leyenda</label>
	    					<br>ES: Tiempo de inicio más temprano<br>EF: Tiempo de término más temprano<br>LS: Tiempo de inicio más tardío<br>LF: Tiempo de término más tardío<br>Holgura: LF - LS<br>
	    					<label style="font-weight:bold; text-align: center; font-size:12px; float:left; border-top: 4px solid #B32323;  border-right: 4px solid #B32323; padding: 6px;">LS</label>
	    					<label style="font-weight:bold; text-align: center; font-size:12px; float:right; border-top: 4px solid #B32323; border-left: 4px solid #B32323;padding: 6px;">LF</label>
	    				</td>
                   

                                        
                       
	    				<td width="1%" valign="middle" align="left">
	    					<div id="36_e" class="dgrm_13859316201076871port ui-draggable ui-droppable" style="position: relative;">
	    						<img src="../../static/cronograma/pirateado/images/redport.png">
	    					</div>
	    				</td>
	    			</tr>
	    			
	    			<tr>
	    				<td colspan="3" width="100%" align="center" valign="top">
	    					<div id="36_s" class="dgrm_13859316201076871port ui-draggable ui-droppable" style="position: relative;">
	    					<img src="../../static/cronograma/pirateado/images/redport.png">
	    					</div>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </div>
	    
        <div id="leyendita">
    	<br>
    	<br>
    	<br>
    	<br>
        </div>
    	
	     <iframe width="98%" height="800px"  src="./red/index.html" marginheight="0" marginwidth="0" noresize scrolling="No" frameborder="0">
	     	
	     </iframe>
	
    </div>   
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        
        
            HiloRefrescar = setInterval(function() {

       
            $("#leyenda").hide();
               $("#leyendita").hide();

   

    }, 7500);
        
    </script>
    
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/header.js"></script>
  </body>
</html>