<!DOCTYPE html>
<html lang="es">
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Materializar el Riesgo</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="header"></div>

        <div class="container">
            <div class="h1-title">
                <h3>Aceptación de cambios en el Gantt</h3>
            </div>
            <div class="container" id="camposMaterializados">

                

            </div>
        </div>

    <script src="../../assets/js/jquery-1.7.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/riesgo/js/gestionCambios.js"></script>
    <script src="../../assets/js/header.js"></script>
    </body>

</html>