<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

	<title>Cronograma</title>

  <link rel=stylesheet href="../../static/cronograma/css/platform.css" type="text/css">
  <link rel=stylesheet href="../../static/cronograma/js/libs/dateField/jquery.dateField.css" type="text/css">

  <link rel=stylesheet href="../../static/cronograma/css/gantt.css" type="text/css">
  <link rel=stylesheet href="../../static/cronograma/css/print.css" type="text/css" media="print">

  <script src="../../static/cronograma/js/jquery.min.js"></script>
  <script src="../../static/cronograma/js/jquery-ui.min.js"></script>

  <script src="../../static/cronograma/js/libs/jquery.livequery.min.js"></script>
  <script src="../../static/cronograma/js/libs/jquery.timers.js"></script>
  <script src="../../static/cronograma/js/libs/platform.js"></script>
  <script src="../../static/cronograma/js/libs/date.js"></script>
  <script src="../../static/cronograma/js/libs/i18nJs.js"></script>
  <script src="../../static/cronograma/js/libs/dateField/jquery.dateField.js"></script>
  <script src="../../static/cronograma/js/libs/JST/jquery.JST.js"></script>

  <script src="../../static/cronograma/js/ganttUtilities.js"></script>
  <script src="../../static/cronograma/js/ganttTask.js"></script>
  <script src="../../static/cronograma/js/ganttDrawer.js"></script>
  <script src="../../static/cronograma/js/ganttGridEditor.js"></script>
  <script src="../../static/cronograma/js/ganttMaster.js"></script>

	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
 
 
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DP2</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">General <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Registrar Proyecto</a></li>
                <li><a href="#">Recursos Humanos</a></li>            
              </ul>
            </li>           
            <li><a href="../alcance">Alcance</a></li>
            <li><a href="../cronograma">Cronograma</a></li>
            <li><a href="../costo">Costo</a></li>
            <li><a href="../Riesgo">Riesgos</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
	<iframe width="1200px" height="900px"  src="./GanttFrame.html"></iframe>
	
    </div>   
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>