body {
  padding-top: 50px;
}
.h1-title {
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.h2-title {
  padding-bottom: 20px;
}

#submit {
	margin-bottom: 40px;
	margin-top: 20px;
}