<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">



    <title>EDT</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/alcance/css/jumbotron.css" rel="stylesheet">

     <link rel="stylesheet" href="../../static/alcance/css/edtCss/edtChart.css"/>
    <!--
    <link rel="stylesheet" href="css/custom.css"/>
    -->
    <link rel="stylesheet" href="../../static/alcance/css/edtCss/prettify.css"/>

    <link rel="stylesheet" href="../../static/alcance/css/edtCss/drag.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Alcance</h1>
        <p>En esta sección se podrá crear, modificar o eliminar el EDT del proyecto</p>
       
        
        <p><a id ="CrearEDTCero" style = "display:none" class="btn btn-primary btn-lg">Crear EDT &raquo;</a></p>
        
         <p><a id ="MostrarEdt" style = "display:none" class="btn btn-primary btn-lg">Mostrar EDT &raquo;</a></p>

         <div id = "progressEdt" class="progress progress-striped active" style = "display:none">
            <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            ... Cargando ...
            </div>
          </div>

      <div class="alert alert-warning" id ="edtCrearLogError" style = "display:none" >
        El proyecto no cuenta con un EDT. <strong>Haga clic en el botón "Crear EDT" para generarlo</strong>.
      </div>

      <div class="alert alert-success" style = "display:none" id ="glosarioEDT">
        <strong>Crear EDT en simples pasos!</strong> <br />
        <strong> Paso 1: </strong> Seleccionar un Padre al cual se le agregarán los desgloses de trabajo  <br />
        <div class = "glosario">
        <strong> Glosario: </strong>Al dar click a un padre,  en los campos de texto, se pondrá por defecto los datos del Padre <br />
        </div>
        <strong> Paso 2: </strong> Modificar el item al que dió click  o en su defecto asignarle un hijo <br />
        <div class = "glosario">
        <strong> Glosario: </strong>Al mofidicar, automaticamente se reflejarán los datos en el gráfico, si se agrega, se creara un nuevo item con los datos ingresos y se agregará al gráfico<br />
        </div>
        <strong> Paso 3: </strong> Cuando haya terminado su EDT, guarde los cambios con el botón @Guardar Cambios <br />
        <div class = "glosario">
        <strong> Glosario: </strong> Al guardar los cambios, el proceso de creación de EDT ha finalizado<br />
        </div>
      </div>




          <div id = "controllerButton" style = "display:none">
      
      <!--
      <label> Versión : </label>
          <select style = "width:100px;" class="form-control">
            <option>1.1</option>
            <option>1.0</option>
          </select>
      -->

         
             <h6> Utilitarios del EDT:   </h6>   
            
            
               <a id ="editarEdtNew" class="btn btn-success">Editar &raquo;</a>
            
               <a id = "eliminarEdt" class="btn btn-danger">Eliminar</a>
          </div>
        </p>
      </div>
    </div>
    
    <div id = "containerEdt" class="container" style = "display:none">
      
      <div class = "consoleLog">
     

      </div>              
    <pre class="prettyprint lang-html" id="list-html" style="display:none"></pre>       
      
      <!--
          nombre, tiempo estimado, descripcion
    [
        {
          title : inicio,
          hijos : 1,
          nodos : [ 
              {
                 title : Estudio del Pmbook,
                 hijos : 0,
                 nodos : []
              }
          ]

        }        
    ]


      -->
    <ul id="org" style="display:none">

    <!--
    <li>
       DP2
       <ul>
         <li id="beer">INICIO
         <ul>
             <li>Estudio del Pmbook</li>
          </ul>
        </li>
         <li>Planificacion
           <ul>
             <li>Listado Hitos Externos</li>
             <li>Definicion de actividades</li>
             <li>Asignacion de recursos</li>
             <li>Valoracion riesgos</li>
             <li>Planificar ensayos</li>
          </ul>
         </li>
         <li class="fruit">Ejecucion
           <ul>
             <li>Proyecto Tecnico</li>
           </ul>
         </li>
         <li>Seguimiento</li>
         <li class="collapsed">Cierre</li>
       </ul>
     </li>
     -->

   </ul>            

     
       <div id="chart" class="orgChart">
         

       </div>
       <!--
        <div id="caja_flotante" style = "display:none" >
                        <div id="cont_caja_flotante">
                        <p style = "font-size: 10px; color: red" id = "controlesSpan" ></p>
                            <img class = "imgutils"  alt = "agregar Nodo" id = "imgAgregar" src ="../../static/alcance/img/icon_agregar.png" />
                            <img class = "imgutils" alt = "Eliminar nodo" id = "imgEliminar" src="../../static/alcance/img/icon_eliminar.png" />
                            <img class = "imgutils" id = "imgEditar" src="../../static/alcance/img/icon_editar.png" />
                        </div>
        </div>
        -->
        <div id = "progressEdtEditarEdt" class="progress progress-striped active" style = "display:none">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    ... Cargando ...
                    </div>
      </div>
      
       <div id = "eventsEditNew" style ="display:none" >
          <button class="btn btn-default" id = "GuardarCambiosNew"> Guardar cambios </button>
       </div> 

       <div id = "botonerasEditar" style = "display:none" >


           <form class="form-inline" role="form">
           <input type = "hidden" id = "padreEdt" value = ""/>
           Padre: <input type = "text" id = "padreEdt1" value = ""/>
           <!-- 
            Padre:<label id = "padreEdt">  </label>
            -->
            <!--
            <br />
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Título</label>
                <input type="text" class="form-control" id="inputTitulo" placeholder="Ingrese Título">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Descripción</label>
                <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripción">
              </div>
              
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Tiempo</label>
                <input type="text" class="form-control" id="inputTiempo" placeholder="Tiempo Estimado">
              </div>
              -->

              <!--
              <button id = "inputAgregar" type="button" class="btn btn-default">Modificar</button>
              -->
              <button id = "inputEliminarHijo" type="button" class="btn btn-default">Eliminar Hijo</button>
            </form>
            
           <div id = "errorMensaje"  style = "display:none" class="alert alert-danger fade in">
               
            </div>


            <div id = "inputValidacionError"  style = "display:none" class="alert alert-danger fade in">
                
            </div>


            <form class="form-inline" role="form">
            Hijo:<label id = "hijoEdt">  </label>
            <br />
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Título</label>
                <input type="text" class="form-control" id="inputTitulo1" placeholder="Ingrese Título">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Descripción</label>
                <input type="text" class="form-control" id="inputDescripcion1" placeholder="Descripción">
              </div>
              
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Tiempo</label>
                <input type="text" class="form-control" id="inputTiempo1" placeholder="Tiempo Estimado">
              </div>
             
              <br />
              <br />

              <div id = "progressEdtGuardarEdt" class="progress progress-striped active" style = "display:none">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    ... Cargando ...
                    </div>
               </div>


              <div id = "botonerasEditarControl">
                  
                    <button id = "inputAgregarHijo" type="button" class="btn btn-default">Agregar Hijo</button>
                  <button id = "inputModificar" type="button" class="btn btn-default">Modificar</button>
                   <button id = "guardarCambios" type="button" class="btn btn-default">Guardar Cambios</button>

              </div>
              
            </form>

           

            <!--
             <a id = "AgregarNodo" class = "btn btn-primary"> Agregar </a>
            <a id ="guardarEDT" class="btn btn-primary btn-lg">Guardar &raquo;</a>
            <a id ="CancelarEDT" class="btn btn-info btn-lg">Cancelar &raquo;</a>
            -->
        </div>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    
     <!-- Button trigger modal -->

  <!-- Modal -->
 <!-- Button trigger modal -->
  <!-- Modal -->

 <div class="modal fade" id="modalEditarNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> <span class="glyphicon glyphicon-info-sign"></span> Agregar </h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Titulo">
          <input type="text" class="form-control" placeholder="Descripcion">
          <input type="text" class="form-control" placeholder="Tiempo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id = "eliminarConfi33rmacion" type="button" class="btn btn-danger">Agregar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <div class="modal fade" id="modalEliminarNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> <span class="glyphicon glyphicon-info-sign"></span> Eliminar </h4>
        </div>
        <div class="modal-body">
          Está seguro que desea eliminar este nodo?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id = "eliminarConfirmacionNew" type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="editarNodoNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> <span class="glyphicon glyphicon-info-sign"></span> Editar </h4>
        </div>
        <div class="modal-body">
          <input type="text" id ="title-editar" class="form-control" placeholder="Titulo">
          <input type="text" id = "descripcion-editar" class="form-control" placeholder="Descripcion">
          <input type="text" id = "tiempo-editar" class="form-control" placeholder="Tiempo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id = "editarConfirmacionNew" type="button" class="btn btn-danger">Editar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> <span class="glyphicon glyphicon-info-sign"></span> Advertencia</h4>
        </div>
        <div class="modal-body">
         Esta seguro que desea eliminar el EDT?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id = "eliminarConfirmacion" type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



   <!-- Modal for editar -->

   <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> <span class="glyphicon glyphicon-info-sign"></span> Editar EDT</h4>
        </div>
        <div id = "cuerpoEditar" class="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id = "editarConfirmacion2New" type="button" class="btn btn-warning">Editar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


    </div> <!-- /container -->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="../../assets/js/jquery.js"></script>
     <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

     <script type="text/javascript" src="../../static/alcance/js/edtPlugin/prettify.js"></script>
     <script type="text/javascript" src="../../assets/js/jquery-ui-1.8.16.js"></script>
    <script src="../../static/alcance/js/lineaBase.js"></script>
    <script src="../../static/alcance/js/edtPlugin/jquery.jOrgChart.js"></script>
    <script src="../../static/alcance/js/edtPlugin/editarNew.js"></script>

    <script src="../../static/alcance/js/edtPlugin/edt.js"></script>
    <script src="../../static/alcance/js/edtPlugin/crearArbol.js"></script>
    <script src="../../static/alcance/js/logAlcance.js"></script>
    <script src="../../assets/js/header.js"></script> 
  </body>
</html>
