<!DOCTYPE html>
<head>
    <title>Alcance</title>
    <meta charset="utf-8"></meta>
</head>
<style>
  h1,h2 {
    text-align: center;
  }
  body{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 100%;
  }
</style>
<body>
  <h1>{proyecto}</h1>
    <h2>Alcance del proyecto</h2>
  <div>
    
    <p><strong>Descripción</strong></p>
    <p>{descripcion}</p>

    <p><strong>Alcance del producto</strong></p>
    <p>{alcance_producto}</p>

    <p><strong>Versión</strong></p>
    <p>{version}</p>

    <p><strong>Criterios de aceptación</strong></p>
    <p>{criterios_aceptacion}</p>

    <p><strong>Entregables</strong></p>
    <p>{entregables}</p>

    <p><strong>Exclusiones</strong></p>
    <p>{exclusiones}</p>

    <p><strong>Restricciones</strong></p>
    <p>{restricciones}</p>

    <p><strong>Supuestos</strong></p>
    <p>{supuestos}</p>
  </div>
</body>