<!DOCTYPE html>
<html>
	<head>
	
		<meta name="keywords" content="jqueryui graph, jqueryui diagram,jqueryui chart, jqueryui flowchart,javascript graph, javascript diagram,javascript chart, javascript flowchart,jquery graph, jquery diagram,jquery chart, jquery flowchart">
		<title>DIAGRAMA DE RED</title>
	
		<link rel="stylesheet" href="../../../static/cronograma/pirateado/library/themes/base/jquery.ui.all.css">
		<script src="../../../static/cronograma/pirateado/library/jquery-1.6.2.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.core.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.widget.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.mouse.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.draggable.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.resizable.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.droppable.min.js"></script>
		<script src="../../../static/cronograma/pirateado/library/ui/minified/jquery.ui.button.min.js"></script>
	
		<script src="../../../static/cronograma/pirateado/scripts/jquery.editable.js"></script>
		<script src="../../../static/cronograma/pirateado/scripts/tempconnection.js"></script>
		<script src="../../../static/cronograma/pirateado/scripts/connection.js"></script>
		<script src="../../../static/cronograma/pirateado/scripts/wz_jsgraphics.js"></script>
		<script src="../../../static/cronograma/pirateado/scripts/Diagram.js"></script>
		<script src="../../../static/cronograma/pirateado/scripts/toolbar.js"></script>
	
		<link rel="stylesheet" href="../../../static/cronograma/pirateado/styles/diagram.css">
	
		<link rel="stylesheet" href="../../../static/cronograma/pirateado/styles/demos.css">
	
		<style>
			html, body {
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
		 	}	
		</style>
		
		<script src = "../../../static/cronograma/js/red/initRed.js"></script>
	
	</head>
	<body>
		
	</body>
</html>