
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title></title>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/alcance/css/diccionario.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>

    <div class="container">
      <div class="h1-title">
        <h1 id="nombre_proyecto">Proyecto 1</h1>
      </div>
      <div class="h2-title col-md-offset-1">
        <h2 id="nombre">Plan de gestión de requisitos</h2>
      </div> 
      <div class="container">
        <form id="form-alcance" role="form" method="POST" name="form-gestion-requisitos" class="col-md-offset-1" action="return false;">
          <div class="row">
            <div class="col-md-1" id="submit">
              <button id="editar" type="button" class="btn btn-default">Editar</button>
            </div>
          </div> 
          <!--Documentación e informes-->
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" for="documentacion">Documentación e informes de requisitos*</label>
              <textarea rows="2" class="form-control" name="documentación" id="documentacion" placeholder="¿Cómo se documentarán e informarán los requisitos?"></textarea>
            </div>
          </div>
          <!--Seguimiento y control-->
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" for="seguimiento">Seguimiento y control de requisitos*</label>
              <textarea rows="2" class="form-control" name="seguimiento" id="seguimiento" placeholder="¿Cómo será el proceso de seguimiento y control de los requisitos?"></textarea>
            </div>
          </div>
          <!--Responsables y cambios-->
          <div class="row">
            <!--Lista responsables-->
            <div class="form-group col-md-12">
              <div>
                <label class="control-label" for="responsables">Responsables de realizar los cambios</label>
              </div>
              <div class="table-responsive col-md-4" style="max-height:200px;overflow-y: scroll;">
                <table class="table table-striped table-hover">
                  <thead class="header-responsables">
                    <th>Id</th>
                    <th>Nombre del responsable</th>
                    <th><span class="glyphicon glyphicon-check"></span></th>
                  </thead>
                  <tbody class="cuerpo-tabla" id="listaResponsables">
                      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <!--cambios-->
            <div class="form-group col-md-12">
              <label class="control-label" for="seguimiento">Acciones para realizar los cambios</label>
              <textarea rows="2" class="form-control" name="acciones" id="acciones" placeholder="¿Cómo realizarán cambios en los requisitos?"></textarea>
            </div>
          </div>
          <!--Priorización de los requisitos-->
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" for="priorizacion">Priorización de los requisitos</label>
              <textarea rows="2" class="form-control" name="priorizacion" id="priorizacion" placeholder="¿Cómo se priorizarán los requisitos?"></textarea>
            </div>
          </div>
          <!--Submit-->
          <div class="row">
            <div class="col-md-1" id="submit">
              <button id="modificarPlan" type="button" class="btn btn-default">Guardar</button>
            </div>
          </div>
        </form>     
      </div>  
    </div>
    <script src="../../assets/js/jquery-1.7.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/alcance/js/lineaBase.js"></script>
    <script src="../../static/alcance/js/planGestionRequisitos.js"></script>
    <script src="../../static/alcance/js/validation.js"></script>
    <script src="../../static/alcance/js/logAlcance.js"></script>
    <script src="../../assets/js/header.js"></script>   
  </body>
</html>
