
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Matriz de rastreabilidad</title>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/alcance/css/diccionario.css" rel="stylesheet">
    <link type="text/css" href="../../static/costo/datepicker/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>
    <div class="container">
      
      <div class="h2-title">
        <h2>Matriz de Rastreabilidad</h2>
      </div>  
      <div class="container">
       
       <table class="table table-bordered">
        <thead>
          <tr>
            <th>Cod</th>
            <th>Descripción</th>
            <th>Solicitado por</th>
            <th>Objetivo</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Categoria</th>
            <th>Criterio de Aceptación</th>
            <th width = 1 >Responsable</th>
            <th colspan =2>Acciones</th>
          </tr>
        </thead>
        <tbody id = "dataTickets" >  
        </tbody>
      </table>

      <div class="modal fade" id="detalleRequisito" role="dialog" aria-labelledby="detalleRequisito" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="tituloModal"class="modal-title">Modificar</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                <form action="" id="form-requisito">
                  <input type="hidden" id="id_requisito" class="form-control" />
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="descripcion" class="control-label">Descripción</label>
                      <p id="descripcion" name="descripcion" class="form-control-static"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="solicitado" class="control-label">Solicitado por*</label>
                      <input type="text" id="solicitado" name="solicitado" placeholder="Solicitado por" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="objetivo" class="control-label">Objetivos</label>
                      <input type="text" id="objetivo" name="objetivo" placeholder="Objetivo" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="idprioridadR" class="control-label">Prioridad*</label>
                      <select id="idprioridadR" name="idprioridadR" placeholder="prioridad" class="form-control">
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="criterio" class="control-label">Estado*</label>
                      <select id="idestadoR" name="idestadoR" placeholder="Estado" class="form-control">
                      </select>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="criterio" class="control-label">Criterio de aceptación</label>
                      <input type="text" id="criterio" name="criterio" placeholder="Criterio de aceptación" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="idmiembros" class="control-label">Responsable*</label>
                      <select id="idmiembros" name="idmiembros" placeholder="Responsable" class="form-control">
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" id="guardar" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="modal fade" id="tablaEntregables" role="dialog" aria-labelledby="tablaEntregables" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="tituloModal"class="modal-title">Actualizar entregables</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                <form action="" id="form-entregables">
                   <input type="hidden" id="id_requisito_fases" class="form-control" />
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Fase</th>
                        <th>Fecha</th>
                        <th>Entregable</th>
                      </tr>
                    </thead>
                    <tbody id = "dataEntregables" >
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" id="guardarEntregables" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      </div>  
    </div>
    <input type='text' class='calendar' style='display:none'>

    <script src="../../static/costo/datepicker/js/jquery-1.9.1.js"></script>
    <script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../../static/alcance/js/lineaBase.js"></script>
    <script src="../../static/alcance/js/validation.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/alcance/js/matriz.js"></script>
    <script src="../../assets/js/header.js"></script>
  </body>
</html>
