<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    
	<div id="header"></div>
	
	
    <div class="container">	
	<div class="row">
	<div class="col-md-3" width="100%">
		<div class="well sidebar-nav hidden-print" id="sideBarNavegacion" role="navigation" width="100%">
			
			<ul class="nav" id="listado">
			
			</ul>
			
	  
	  </div>
	</div>
	
	<div class="col-md-9" role="main">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1 id="nombreProyecto"></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
		<h3 style="text-align:left">Resumen/reserva</h1>
      </div>
	  	  
	  
	  <div class="" id="AsignarCostosRecursos">
	  
		
		<form class="form-horizontal" name="formReserva" id="formReserva">
			
			<div class="form-group">			
				<label class="col-lg-2 control-label">Monto Total sin reserva(Nuevos soles)</label>
				<div class="col-lg-4">
				  <input type="text" class="form-control" id="inputMontoSinReserva" placeholder="Monto sin reserva" readOnly="readOnly" disabled>
				</div>
			</div>
			
			
			
			<div id="divReserva" class="form-group">
			
				<label class="col-lg-2" align='right' >% reserva gestión</label>
				<div class="col-lg-4">
				  <label class="control-label" id="labReserva" align="left" style="display:none">El % debe ser un número mayor a 0</label>
				  <input type="text" class="form-control" id="inputReserva" placeholder="% reserva" onChange="actualizaCostos();">
				</div>				
				<label class="col-lg-2">Monto de reserva de Gestión (Nuevos soles)</label>
				<div class="col-lg-4">
				  <input type="text" class="" id="reservaTotal" placeholder="Reserva Total" readOnly="readOnly" disabled>
				</div>
			</div>
			
			<div id="divContingencia" class="form-group">
				<label class="col-lg-2" align='right' >% contingencia</label>
				<div class="col-lg-4">
				  <label class="control-label" id="labContingencia" align="left" style="display:none">El % debe ser un número mayor a 0</label>
				  <input type="text" class="form-control" id="inputPorcentajeContingencia" placeholder="% contingencia" onChange="">
				</div>
				<label class="col-lg-2 control-label" align='left' >Monto de contingencia</label>
				<div class="col-lg-4">
				  <input type="text" class="form-control" id="inputContingencia" placeholder="contingencia" readOnly="readOnly" disabled>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-2 control-label">Monto Total con reserva(Nuevos soles)</label>
				<div class="col-lg-4">
				  <input type="text" class="form-control" id="inputMontoConReserva" placeholder="Monto con reserva" readOnly="readOnly" disabled>
				</div>
			</div>
		
		</form>
		
		
		<form role="form" name="formRecursos">
					
			<table class="table-striped table-bordered" width="90%" id="tablaRecursos">
			
				<tr>
					<td width="10%"><b>#</b></td>
					<td width="30%"><b>Recurso</b></td>
					<td width="20%"><b>Costo Unitario</b></td>
					<td width="20%"><b>Moneda</b></td>
					<td width="20%"><b>Cantidad Total</b></td>
				</tr>
				
			</table>
			
			<table><tr>&nbsp;
			</tr>
			<tr>&nbsp;
			</tr><tr>&nbsp;
			</tr></table>
			
			<table class="table-striped table-bordered" width="90%" id="tablaResumenCostoFijo">

			</table>
			
			
			<table><tr>&nbsp;
			</tr>
			<tr>&nbsp;
			</tr><tr>&nbsp;
			</tr></table>
			
			<table width="100%">
			
				<tr width="100%">
				<td width="100%" align="center"> 
				<button type="button" class="btn btn-primary" id="btnGrabar">Grabar</button>
				<button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>				
				</tr>
			
			</table>
			
			
		
		
		</form>			
	  
	  </div>
	  
	  <div id="ResumenCostosRecursos" style="display:none;">
		<h3 id="tituloActividad"></h2>
		
		<table><tr>&nbsp;
			</tr>
			<tr>&nbsp;
			</tr><tr>&nbsp;
			</tr></table>
		
		<table class="table-striped table-bordered" width="90%" id="tablaResumen">

		</table>
		
		
			
		&nbsp;
		&nbsp;
		&nbsp;
		
		<table width="90%" id="tablaTotalActividad" class="table-bordered"> </table>
		
		
	  
	  </div>
	</div>
	</div> 
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
	var puedeConfirmar='1';
	
	</script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
	<script src="../../static/costo/js/jquery-1.7.1.min.js"></script>
	<script src="../../assets/js/header.js"></script>
	<script src="../../static/costo/js/Utils.js"></script>
	<script src="../../static/costo/js/AsignaCostoRecursos.js"></script>
	
	
  </body>
</html>
