<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
	<script src="https://www.google.com/jsapi"></script>

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">
	<link type="text/css" href="../../static/costo/datepicker/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
	<script src="../../static/costo/js/jquery-1.7.1.min.js"></script>
	<script src="../../assets/js/jquery.js"></script>
	<script src="../../static/costo/datepicker/js/jquery-1.9.1.js"></script>
	<script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.js"></script>
	<script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>

    <div class="container">	
	<div class="row">
	<div class="col-md-3" width="100%">
	</div>
	
	<div class="col-md-9" role="main">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1 id="nombreProyecto"></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	  <form class="form-horizontal" name="formReserva" id="formReserva">
			
			<div class="form-group">			
				<label class="col-lg-2 control-label">Fecha límite:</label>
				<div class="col-lg-4">
				  <input type="text" readonly="readonly" class="form-control calendar" id="fechaLimite" >
				  <input type="hidden" id="fechaUnix">
				</div>
			</div>
			<div class="form-group">			
				<label class="col-lg-2 control-label">Indicador:</label>
				<div class="col-lg-4">
				  <select class="form-control" id="comboIndicador">
					<option value="ac">PV/EV/AC</option>
					<option value="cv">CV</option>
					<option value="cpi">CPI</option>
					<option value="spi">SPI</option>
					<option value="sv">SV</option>
					<option value="bac">BAC</option>
					<option value="eac">EAC</option>
					<option value="etc">ETC</option>
					<option value="vac">VAC</option>
					<option value="tcpi">TCPI</option>
				  </select>
				  <input type="hidden" id="indicador">
				</div>
			</div>
			<button type="button" class="btn btn-default" onclick="cargaChart()">Graficar</button>
			<button type="button" class="btn btn-default" onclick="history.back()">Atras</button>
			
	  <input type='text' class='calendar' style='display:none'>

	  </form>
	  
	  <div id="chart_div" style="width: 1000px; height: 750px; align: left"></div>
			
	  </div>
	  
	</div>
	</div> 
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
	var puedeConfirmar='1';
	
	</script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/js/header.js"></script>
    <script src="../../static/costo/js/VisualizarIndicadoresGrafico.js">
	</script>
	
  </body>
</html>
