<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dp2.gproyectos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/maleta"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         
         <!-- INICIO ACTIVIDADES MODULO GENERAL -->
         <activity
            android:name="com.dp2.gproyectos.general.view.PruebaMenus"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.SplashActivity" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.GeneralHomeProyectoAdministracionS" >
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.GeneralLoginActivity" >
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.GeneralServerConfigActivity" >
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.GeneralHomeProyectosListaActivity" >
            
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.ListaRecursosXProyecto" >
        </activity>
        <activity android:name="com.dp2.gproyectos.general.view.GeneralHomeLeccionesListaActivity" >
        </activity>
         <!-- INICIO ACTIVIDADES MODULO GENERAL -->
         
         <!-- INICIO ACTIVIDADES MODULO COSTOS -->
         <activity android:name="org.achartengine.GraphicalActivity" />
         <activity android:name="com.dp2.gproyectos.costos.view.CostosIndicadoresActivity" />
         <activity android:name="com.dp2.gproyectos.costos.view.CostosIndicadoresChartActivity">
        </activity>
        <!-- INICIO ACTIVIDADES MODULO COSTOS -->
        
        <!-- Inicio Actividades Modulo Cronograma -->
        <activity android:name="com.dp2.gproyectos.cronograma.view.ListaActividadesXProyecto" />
        <activity android:name="com.dp2.gproyectos.cronograma.view.Gantt" />
        <activity android:name="com.dp2.gproyectos.cronograma.view.DetalleActividad" />
        <activity android:name="com.dp2.gproyectos.cronograma.view.ListaRecursoXActividad" >
         

            </activity>
        <activity android:name="com.dp2.gproyectos.cronograma.view.CronogramaIndicadoresChartActivity" />
    </application>

</manifest>