<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>

    <div class="container">	
	<div class="row">
	<div class="col-md-3" width="100%">
		<div class="well sidebar-nav hidden-print" id="sideBarNavegacion" role="navigation" width="100%">
			
			<ul class="nav" id="listado">
			
			</ul>
			
	  
	  </div>
	</div>
	
	<div class="col-md-9" role="main">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1 id="nombreProyecto"></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	  	  
	  
	  <div class="" id="AsignarCuentaActividad">
		 
		<form role="form" name="formCuentaActividad">
			<div class="form-group">
                <label class="col-md-2 col-sm-2 control-label" for="Location">Total :</label>
                <div id="totalCuentas" class="col-md-2 col-sm-2">
                </div>
            </div>
			<table class="table-striped table-bordered" width="90%" id="tablaCuentaxActividad">
			
				<tr>
					<td width="10%"><b>#</b></td>
					<td width="40%"><b>Actividad</b></td>
					<td width="20%"><b>Tipo cuenta</b></td>
					<td width="30%"><b>Costo subtotal</b></td>
				</tr>
				
			</table>
			
			<table><tr>&nbsp;
			</tr>
			<tr>&nbsp;
			</tr><tr>&nbsp;
			</tr></table>
			
			<table width="100%">
			
				<tr width="100%">
				<td width="100%" align="center"> 
				<button type="button" class="btn btn-primary" id="btnGrabar">Grabar</button>
				<button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
				<button type="button" class="btn btn-primary" id="btnConfirmar" style="display:none;">Confirmar</button> </td>
				</tr>
			
			</table>
		
		
		</form>			
	  
	  </div>
	  
	</div>
	</div> 
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
	var puedeConfirmar='1';
	
	</script>
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
	<script src="../../static/costo/js/jquery-1.7.1.min.js"></script>
	<script src="../../assets/js/header.js"></script>
	<script src="../../static/costo/js/Utils.js"></script>
	<script src="../../static/costo/js/AsignaCuenta.js"></script>
	
	
  </body>
</html>
