<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Gestion de costos</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

        <div id="header"></div>

    <div class="container">

      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1 id="nombreProyecto"></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
		<h3 style="text-align:left">Visualizar presupuesto</h1>
      </div>

	  
	<div id="reservaTotal">Reserva de gestion: </div><br>
	<div id="reservaContingencia">Reserva de contingencia: </div><br>
	<div id="costoIndirectoTotal">Costo indirecto total: </div><br>
	<div class="panel-group" id="nodoPaquete">	 
		</div>
	</br>
	  <div class="panel-group" id="padreCostoFijo">	
	  <div class="panel panel-default">
	  <div class="panel-heading">
	  <h4 class="panel-title">
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#padreCostoFijo" href="#nodoCostoFijo">Recursos con costo fijo</a> </h4></div>
	  <div id="nodoCostoFijo" class="panel-collapse in" style="height: auto;">
	  <div class="panel-body" id="totalCostoFijo"> 
	  <div class="panel panel-default" id="panelNodoCostosFijos">
	  
	  </div>
	  </div>
	  </div>
	  </div>
	  </div>
	 
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/js/header.js"></script>
	<script src="../../static/costo/js/Utils.js"></script>
	<script src="../../static/costo/js/VisualizarPresupuesto.js"></script>
	  	<script src="../../static/general/js/bootbox.min.js"></script>

  </body>
</html>
