<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

     <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="../../static/general/css/general.css" rel="stylesheet">
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Tablesorter: optional -->
    <link rel="stylesheet" href="../../tablesorter/css/jquery.tablesorter.pager.css">
    <link rel="stylesheet" href="../../tablesorter/css/theme.bootstrap.css">
    <style>
    <!--
       .fila{
       }
       .seleccionado{
          background: rgb(255,255,153);
       }
    //-->
    </style>
    
    
    <link type="text/css" href="../../static/costo/datepicker/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
	<script src="../../static/costo/js/jquery-1.7.1.min.js"></script>
	<script src="../../assets/js/jquery.js"></script>	
	<script src="../../static/costo/datepicker/js/jquery-1.9.1.js"></script>
	<script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.js"></script>
	<script src="../../static/costo/datepicker/js/jquery-ui-1.10.3.custom.min.js"></script>
	
  </head>

  <body>
    
    <div id="header"></div>

    <div class="container">

      <div class="starter-template">
          <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>

        <div class="" id="ListaRecursos">
          
        <form role="form" name="formListaRecursosHumanos">
        
          <div class="form-group">
            <!-- Button -->
            <div class="controls">
            <!-- Modal para la asignacion -->
                <a data-toggle="modal" href="#myModal" id="btnAsignarRecursos" class="btn btn-primary btn-lg">Asignar Recursos</a>
                 <button type="button" class="btn btn-success btn-lg" id="btnGuardar">
                      Guardar
                 </button>
            </div>
          </div>

      <div class="" >
      <table id="ListaRecursosHumanosXProyecto" class="tablesorter" width="90%" >      
        <thead>
          <tr>
            <th><b>Miembro Equipo</b></th>
            <th><b>Empleado</b></th>
            <th><b>Nombre del Recurso</b></th>
            <th><b>Rol</b></th>
            <th><b>Profesion Base</b></th>
            <th><b>Profesion en el Proyecto</b></th>
            <th><b>Costo HH (S/.)</b></th>
            <th><b>Fecha Inicio Participación</b></th>
            <th><b>Fecha Fin Participación</b></th>
            <th><b>Acciones</b></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><b>Miembro Equipo</b></th>
            <th><b>Empleado</b></th>
            <th><b>Nombre del Recurso</b></th>
            <th><b>Rol</b></th>
            <th><b>Profesion Base</b></th>
            <th><b>Profesion en el Proyecto</b></th>
            <th><b>Costo HH (S/.)</b></th>
            <th><b>Fecha Inicio Participación</b></th>
            <th><b>Fecha Fin Participación</b></th>
            <th><b>Acciones</b></th>
          </tr>
          <tr>
            <th colspan="10" class="pager form-horizontal">
              <button type="button" class="btn first"><i class="icon-step-backward"></i></button>
              <button type="button" class="btn prev"><i class="icon-arrow-left"></i></button>
              <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
              <button type="button" class="btn next"><i class="icon-arrow-right"></i></button>
              <button type="button" class="btn last"><i class="icon-step-forward"></i></button>
              <select class="pagesize input-mini" title="Select page size">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
              <select class="pagenum input-mini" title="Select page number"></select>
            </th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>

    </div>  
            
          <table>
            <tr>&nbsp</tr>
            <tr>&nbsp</tr>
            <tr>&nbsp</tr>
          </table>
        </form>   
      </div>  


  <!-- Modal Recursos Disponibles -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1200px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Recursos disponibles</h4>
            </div>
            <div class="modal-body">
              <div id="busquedaRecursosDisponibles">
                <form class="form-horizontal" role="form" action='' method="POST">
                  <fieldset>
                  <h4>Ingrese un rango de fechas para buscar</h4>
                    <div class="form-group">
                      <!-- Fecha de Preparacion -->
                      <label class="col-lg-4 control-label"  for="fi">Fecha Inicio</label>
                      <div class="controls col-lg-6">
                      <input class="form-control"type="text" id="fi" name="fi" placeholder="" class="input-xlarge" max=today readonly>
                      <!--<p class="help-block">Please confirm password</p>-->
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- Fecha de Preparacion -->
                      <label class="col-lg-4 control-label"  for="ff">Fecha Final</label>
                      <div class="controls col-lg-6">
                      <input class="form-control"type="text" id="ff" name="ff" placeholder="" class="input-xlarge" max=today readonly>
                      <!--<p class="help-block">Please confirm password</p>-->
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-group">
                  <!-- Button -->
                    <div class="controls">
                    <table width="100%">      
                      <tr width="100%">
                        <td width="50%" align="center">
                          <button type="button" class="btn btn-info" id="buscar">
                          Buscar
                          </button>
                        </td>
                      </tr>     
                    </table>
                    </div>
                  </div>
                </form>
              </div>
              <div id="tablaRecursosDisponibles"style="display:none" >
                <table id="listaRecursosHumanos" class="tablesorter" width="90%">      
                  <thead>
                    <tr>
                      <th><b>#</b></th>
                      <th><b>Nombre del Colaborador</b></th>
                      <th>Rol del Colaborador</th>
                      <th>Profesion Colaborador</th>
                      <th>Profesion en el Proyecto</th>
                      <th>Costo Hora Hombre</th>
                      <th>Fecha de inicio de la Colaboración</th>
                      <th>Fecha de fin de la Colaboración</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Nombre del Colaborador</th>
                      <th>Rol del Colaborador</th>
                      <th>Profesion Colaborador</th>
                      <th>Profesion en el Proyecto</th>
                      <th>Costo Hora Hombre</th>
                      <th>Fecha de inicio de la Colaboración</th>
                      <th>Fecha de fin de la Colaboración</th>
                  
                    </tr>
                    <tr>
                      <th colspan="8" class="pager form-horizontal">
                        <button type="button" class="btn first"><i class="icon-step-backward"></i></button>
                        <button type="button" class="btn prev"><i class="icon-arrow-left"></i></button>
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <button type="button" class="btn next"><i class="icon-arrow-right"></i></button>
                        <button type="button" class="btn last"><i class="icon-step-forward"></i></button>
                        <select class="pagesize input-mini" title="Select page size">
                          <option selected="selected" value="10">10</option>
                          <option value="20">20</option>
                          <option value="30">30</option>
                          <option value="40">40</option>
                        </select>
                        <select class="pagenum input-mini" title="Seleccione la página"></select>
                      </th>
                    </tr>
                  </tfoot>
                  <tbody>
                  
                  </tbody>
                </table>

              </div>  <!--fin de la tabla-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button id="pasar" style="display:none" type="button" class="btn btn-primary">Asignar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->     
    </div><!-- /.container -->

   
    <!-- Bootstrap core JavaScript
    ==================lang================================ -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/general/js/ListaRecursosHumanosXProyecto.js"></script>
    <script src="../../static/general/js/bootbox.min.js"></script>
    <script src="../../assets/js/header.js"></script>
	<!--script src="../../static/general/js/menuHeader.js"></script-->

    <!-- Tablesorter: required for bootstrap -->
    <script src="../../tablesorter/js/jquery.tablesorter.js"></script>
    <script src="../../tablesorter/js/jquery.tablesorter.widgets.js"></script>

    <!-- Tablesorter: optional -->
    <script src="../../tablesorter/js/jquery.tablesorter.pager.js"></script>

    <!-- Tablesorter: Config bootstrap -->
    <script src="../../tablesorter/js/config.js"></script>
    
    <!-- Tablesorter: Config filtros -->
    <script src="../../tablesorter/js/filtros.js"></script>
  </body>
</html>