<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Registrar nueva solicitud de cambios</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="registrar">
		<p>
		<form class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<label class="col-lg-6 control-label" for="general">General:</label>
			<input class="form-control" type="checkbox" id="general" name="modulo">						

			<label class="col-lg-6 control-label" for="alcance">Alcance:</label>
			<input class="form-control" type="checkbox" id="alcance" name="modulo">

			<label class="col-lg-6 control-label" for="cronograma">Cronograma:</label>
			<input class="form-control" type="checkbox" id="cronograma" name="modulo">

			<label class="col-lg-6 control-label" for="costo">Costo:</label>
			<input class="form-control" type="checkbox" id="costo" name="modulo">
			
			<label class="col-lg-6 control-label" for="riesgo">Riesgo:</label>
			<input class="form-control" type="checkbox" id="riesgo" name="modulo">
			
			<label class="col-lg-6 control-label" for="motivo">Motivo:</label>
			<textarea rows="4" cols="50" id="motivo"></textarea>

			<br><br>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnEnviar">
								Enviar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" onclick="$(location).attr('href','MenuProyecto.html');">
								Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  	<script src="../../assets/js/jquery-1.7.1.min.js"></script>
  	<script src="../../static/general/js/RegistrarProyecto.js"></script>
  </body>
</html>