<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/general/css/general.css" rel="stylesheet">
    <link href="../../static/general/css/validacion.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
 	<div id="header"></div>

    <div class="container">
      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Registrar nueva solicitud de cambio</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="registrar">
		<p>
		<form id="registrarSolicitud" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
		  	
		  	<div class="form-group">
				<label class="col-lg-6 control-label" for="alcance">Alcance:</label>
				<div class="controls col-lg-6">
					<input class="form-control checkbox-modulo" type="checkbox" id="alcance" name="modulo">
				</div>
			
				<label class="col-lg-6 control-label" for="cronograma">Cronograma:</label>
				<div class="controls col-lg-6">
					<input class="form-control checkbox-modulo" type="checkbox" id="cronograma" name="modulo">
				</div>
			
				<label class="col-lg-6 control-label" for="costo">Costo:</label>
				<div class="controls col-lg-6">
					<input class="form-control checkbox-modulo" type="checkbox" id="costo" name="modulo">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-6 control-label" for="descripcion">Descripción:</label>
				<div class="controls col-lg-6">
					<textarea rows="4" cols="50" id="descripcion" name="descripcion"></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-6 control-label" for="justificacion">Justificación:</label>
				<div class="controls col-lg-6">
					<textarea rows="4" cols="50" id="justificacion" name="justificacion"></textarea>			
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-6 control-label" for="impacto">Impacto:</label>
				<div class="controls col-lg-6">
					<textarea rows="4" cols="50" id="impacto" name="impacto"></textarea>			
				</div>
			</div>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnEnviar">
								Enviar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" onclick="$(location).attr('href','MenuProyecto.html');">
								Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  	<script src="../../static/general/js/jquery.validate.min.js"></script>
  	<script src="../../static/general/js/bootbox.min.js"></script>
  	<script src="../../static/general/js/RegistrarSolicitudCambio.js"></script>
  	<script src="../../assets/js/header.js"></script>
  </body>
</html>