<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cronograma/css/cronograma.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DP2</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1>Mi Proyecto</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
	<ul class="nav nav-tabs nav-justified">
	  <li class="active"><a href="#ig" data-toggle="tab">Informaci&oacute;n General </a></li>
	  <li><a href="#dp" data-toggle="tab">Descripci&oacute;n del Proyecto</a></li>
	  <li><a href="#">Alineamiento del Proyecto</a></li>
	  <li><a href="#">Objetivos del Proyecto</a></li>
	  <li><a href="#">Autoridad del Proyecto</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="ig">
		<p>
		<form class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  <!-- Nombre del Proyecto -->
			  <label class="col-lg-4 control-label"  for="nombreProy">Nombre del Proyecto:</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="text" id="nombreProy" name="nombreProy" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Patrocinador -->
			  <label class="col-lg-4 control-label" for="email">Patrocinador:</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="text" id="patrocinador" name="patrocinador" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please provide your E-mail</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Fecha de Preparacion -->
			  <label class="col-lg-4 control-label"  for="preparacionFecha">Fecha de Preparaci&oacute;n</label>
			  <div class="controls col-lg-6">
				<input class="form-control"type="date" id="preparacionFecha" name="preparacionFecha" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>
			
			<div class="form-group">
			  <!-- Fecha de Modificacion -->
			  <label class="col-lg-4 control-label"  for="modificacionFecha">Fecha de Modificaci&oacute;n</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="date" id="modificacionFecha" name="modificacionFecha" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<button class="form-control btn btn-primary">Registrar</button>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
		<div class="tab-pane pane" id="dp">
			<p>		
			<form class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  <!-- Nombre del Proyecto -->
			  <label class="col-lg-4 control-label"  for="nombreProy">Nombre del Proyecto:</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="text" id="nombreProy" name="nombreProy" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Patrocinador -->
			  <label class="col-lg-4 control-label" for="email">Patrocinador:</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="text" id="patrocinador" name="patrocinador" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please provide your E-mail</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Fecha de Preparacion -->
			  <label class="col-lg-4 control-label"  for="preparacionFecha">Fecha de Preparaci&oacute;n</label>
			  <div class="controls col-lg-6">
				<input class="form-control"type="date" id="preparacionFecha" name="preparacionFecha" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>
			
			<div class="form-group">
			  <!-- Fecha de Modificacion -->
			  <label class="col-lg-4 control-label"  for="modificacionFecha">Fecha de ola k ase&oacute;n</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="date" id="modificacionFecha" name="modificacionFecha" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<button class="form-control btn btn-primary">Registrar</button>
			  </div>
			</div>
		  </fieldset>
		</form>
		</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/AsignaCostoRecursos.js"></script>
  </body>
</html>
