<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/general/css/general.css" rel="stylesheet">
	<link href="../../static/general/css/validacion.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header">

    </div>

    <div class="container">

      <div class="starter-template">
	  <!-- Reemplazar ese mi proyecto por una variable con el nombre del proyecto  -->
        <h1 id="nameProyect"></h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>
	<div class="well">
	<ul class="nav nav-tabs nav-justified">
	  <li class="active"><a href="#ig" data-toggle="tab">Informaci&oacute;n General </a></li>
	  <li><a href="#dp1" data-toggle="tab" style="display:none;">Descripci&oacute;n del Proyecto</a></li>
	  <li><a href="#perp" data-toggle="tab" style="display:none;">Performance del Proyecto</a></li>
	  <li><a href="#op" data-toggle="tab" style="display:none;">Objetivos del Proyecto</a></li>
	  <li><a href="#ap1" data-toggle="tab" style="display:none;">Autoridad del Proyecto</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="ig">
			<p>
			<form id="registrarActa1" class="form-horizontal" role="form" action='' method="POST">
			  <fieldset>
				<div class="form-group">
				  <!-- Id del Proyecto -->
				  <label class="col-lg-4 control-label"  for="idProyecto">Id del Proyecto:</label>
				  <div class="controls col-lg-6">
					<input class="form-control" type="text" id="idProyecto" name="idProyecto" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
				  </div>
				</div>
				<div class="form-group">
				  <!-- Nombre del Proyecto -->
				  <label class="col-lg-4 control-label"  for="np">Nombre del Proyecto:</label>
				  <div class="controls col-lg-6">
					<input class="form-control" type="text" id="np" name="np" placeholder="" class="input-xlarge" >
					<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
				  </div>
				</div>

				<div class="form-group">
				  <!-- Fecha de Preparacion -->
				  <label class="col-lg-4 control-label"  for="fpp">Fecha de Preparaci&oacute;n</label>
				  <div class="controls col-lg-6">
					<input class="form-control"type="date" id="fpp" name="fpp" placeholder="" class="input-xlarge">
					<!--<p class="help-block">Please confirm password</p>-->
				  </div>
				</div>
				<!--
				<div class="form-group">
				   
				  <label class="col-lg-4 control-label"  for="modificacionFecha">Fecha de Modificaci&oacute;n</label>
				  <div class="controls col-lg-6">
					<input class="form-control" type="date" id="modificacionFecha" name="modificacionFecha" placeholder="" class="input-xlarge" readonly>
				  </div>
				</div>
				-->
				<div class="form-group">
				  <!-- Tipo de Proyecto -->
				  <label class="col-lg-4 control-label"  for="tp">Tipo de Proyecto</label>
				  <div class="controls col-lg-6">
					<select class="form-control" id="tp" name="tp" placeholder="" class="input-xlarge">
					
					</select>
					<!--<p class="help-block">Please confirm password</p>-->
				  </div>
				</div>
				
				<div class="form-group">
				  <!-- Prioridad del Proyecto -->
				  <label class="col-lg-4 control-label"  for="pp">Prioridad del Proyecto</label>
				  <div class="controls col-lg-6">
					<select class="form-control" id="pp" name="pp" placeholder="" class="input-xlarge">
		
					</select>
					<!--<p class="help-block">Please confirm password</p>-->
				  </div>
				</div>


				<div class="form-group">
				  <!-- Button -->
				  <div class="controls">
					<table width="100%">			
						<tr width="100%">
							<td width="50%" align="right">
								<button type="button" class="btn btn-primary" id="btnGrabarInformacion">
								Guardar
								</button>
							</td>
							<td width="50%" align="left">
								<button type="button" class="btn btn-primary" id="btnCancelar" onclick="location.href='MenuProyecto.html'">
								Cancelar
								</button>
							</td>
						</tr>			
					</table>
				  </div>
				</div>
			  </fieldset>
			</form>
			</p>
		</div>
		<div class="tab-pane pane" id="dp1">
			<p>		
			<form id="registrarActa2" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  <!-- Descripcion del Proyecto -->
			  <label class="col-lg-4 control-label"  for="dp">Descripcion:</label>
			  <div class="controls col-lg-6">
				  <textarea id="dp" name="dp" class="form-control" placeholder="Agregue la informacion relevante al proyecto ..." rows="10"></textarea>
			  </div>
			</div>
			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnGrabarDescripcion">
							Guardar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" id="btnCancelar" onclick="location.href='MenuProyecto.html'">
							Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
			</form>
			</p>
		</div>
		<div class="tab-pane pane" id="perp">
			<p>		
			<form id="registrarActa3" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>
			<div class="form-group">
			  <!-- Costo -->
			  <label class="col-lg-4 control-label"  for="cp">Costo (soles):</label>
			  <div class="controls col-lg-6">
				<textarea class="form-control" type="text" id="cp" name="cp" placeholder="" class="input-xlarge" rows="3"></textarea>
				<!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Plazo -->
			  <label class="col-lg-4 control-label" for="plp">Plazo (meses):</label>
			  <div class="controls col-lg-6">
				<textarea class="form-control" type="text" id="plp" name="plp" placeholder="" class="input-xlarge" rows="3"></textarea>
				<!--<p class="help-block">Please provide your E-mail</p>-->
			  </div>
			</div>

			<div class="form-group">
			  <!-- Calidad -->
			  <label class="col-lg-4 control-label"  for="calp">Calidad</label>
			  <div class="controls col-lg-6">
				<textarea class="form-control"type="text" id="calp" name="calp" placeholder="" class="input-xlarge" rows="3"></textarea>
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>
			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnGrabarPerformance">
							Guardar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" id="btnCancelar" onclick="location.href='MenuProyecto.html'">
							Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
			</form>
			</p>
		</div>
		<div class="tab-pane pane" id="op">
			<p>		
			<form id="registrarActa4" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>

			<div class="table-responsive">
			  <table id="Objetivos" class="table">
			    <thead>
			    	<tr>
			    		<th>Descripción</th>
			    	</tr>
			    </thead>
			    <tbody>

			    </tbody>
			  </table>
			</div>
			

			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="30%" align="right">
							<button type="button" class="btn btn-success" id="btnAgregarObjetivo">
							Agregar Objetivo
							</button>
						</td>
						<td width="30%" align="center">
							<button type="button" class="btn btn-primary" id="btnGrabarObjetivos">
							Guardar
							</button>
						</td>
						<td width="30%" align="left">
							<button type="button" class="btn btn-primary" id="btnCancelar" onclick="location.href='MenuProyecto.html'">
							Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
			</form>
			</p>
		</div>
		<div class="tab-pane pane" id="ap1">
			<p>		
			<form id="registrarActa5" class="form-horizontal" role="form" action='' method="POST">
		  <fieldset>

			<div class="form-group">
			  <!-- Jefe de Proyecto -->
			  <label class="col-lg-4 control-label"  for="jp">Jefe de Proyecto:</label>
			  <div class="controls col-lg-6">
				<select class="form-control" id="jp" name="jp" placeholder="" class="input-xlarge">
				
				</select>
				<!--<p class="help-block">Please confirm password</p>-->
			  </div>
			</div>
			
			<div class="form-group">
			  <!-- Comite  de Seguimiento -->
			  <label class="col-lg-4 control-label"  for="jcp">Jefe de Comite de Seguimiento:</label>
			  <div class="controls col-lg-6">
				  <input class="form-control" type="text" id="jcp" name="jcp" placeholder="" class="input-xlarge">
			  </div>
			</div>
			<div class="form-group">
			  <!-- Patrocinador -->
			  <label class="col-lg-4 control-label" for="pap">Patrocinador:</label>
			  <div class="controls col-lg-6">
				<input class="form-control" type="text" id="pap" name="pap" placeholder="" class="input-xlarge">
				<!--<p class="help-block">Please provide your E-mail</p>-->
			  </div>
			</div>
			<div class="form-group">
			  <!-- Button -->
			  <div class="controls">
				<table width="100%">			
					<tr width="100%">
						<td width="50%" align="right">
							<button type="button" class="btn btn-primary" id="btnGrabarAutoridad">
							Guardar
							</button>
						</td>
						<td width="50%" align="left">
							<button type="button" class="btn btn-primary" id="btnCancelar" onclick="location.href='MenuProyecto.html'">
							Cancelar
							</button>
						</td>
					</tr>			
				</table>
			  </div>
			</div>
		  </fieldset>
			</form>
			</p>
		</div>
	</div>
	</div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>    
  	<script src="../../static/general/js/jquery.validate.min.js"></script>
  	<script src="../../static/general/js/bootbox.min.js"></script>
	<script src="../../static/general/js/detalleActaConstitucion.js"></script>
	<script src="../../assets/js/header.js"></script>
  </body>
</html>
