<!DOCTYPE html>




<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Nivel de Impacto</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">

    </head>
    <body>
        <div id="header"></div>
        <div class="h1-title">
        <h2></h2>
        </div>

        <!-- VISTA CONFIGURACION-->

        <div class="well"></div>



        <div class="container">
        <input  id="suma" type="text" style="display:none" value=1>
        <div class="col-md-12" role="main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-left"> Tipos de Impacto </h3>
                    <form  name="form1">
                        <table class="table table-striped" width="90%" id="tablaTiposRiesgos">
                            <tr>
                                <td width="20%"><b>Tipo de Impacto</b></td>
                                <td width="20%"><b>Tipo Formato</b></td>
                                 <td width="20%"><b>Eliminar</b></td>
                                 
                            </tr>

                            <tbody class="cuerpo-tabla" id="tablaRiesgos">
                                <!--Contenido Tipos de Riesgos-->
                                <tr>
                                    <td><input name="tipoRi1" id="tipoRi1" type="text" class="tipoRiesgo form-control" ></td> <!--id 7 palabras  funciona y 1 num al final-->
                                    <td><select class="numero form-control" id="formas1"><option value="1">Número</option>
                                                <option value="2">Texto</option></select></td>
                                    <td><a data-toggle="modal" href="#confirmDelete" > <span class="glyphicon glyphicon-remove iconito" id="1"></span></a></td>

                                </tr>
                            </tbody>

                        </table>
                        <button class="btn btn-success" id="agregar">Agregar Item</button>
                        <div  class="col-md-12" style="text-align:center">
                            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                        </div>
                    </form>  
                </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-body col-lg-12">
                <h3 class="text-left">Impacto </h3>
                <form class="form-horizontal" >
                  <table class="table table-striped">
                    <thead class="titulo-tabla">
                    <th>Nivel</th>
                    <th>Descripcion</th>
                    </thead>
                    <tbody class="cuerpo-tabla" id="tablaImpacto">
                    </tbody>
                  </table>
                  <div  class="col-md-12" style="text-align:center">
                    <a data-toggle="modal" href="#modalAgregarNivelImpacto" class="btn btn-primary" id="btnModalAgregarNivelImpacto">Agregar nivel</a>
                    <a data-toggle="modal" href="#modalEliminarNivelImpacto" class="btn btn-danger" id="btnModalEliminarTablaNivelImpacto">Eliminar Tabla</a>
                  </div>
                </form>  
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body col-lg-12">
                <h3 class="text-left">Probabilidad </h3>
                <form class="form-horizontal" >
                  <table class="table table-striped">
                    <thead class="titulo-tabla">
                    <th>Nivel</th>
                    <th>Mínimo</th>
                    <th>Máximo</th>
                    <th>Descripción</th>
                    </thead>
                    <tbody class="cuerpo-tabla" id="tablaProbabilidad">
                    </tbody>
                  </table>
                  <div  class="col-md-12" style="text-align:center">
                    <a data-toggle="modal" href="#modalAgregarNivel" class="btn btn-primary" id="btnModalAgregarNivel">Agregar nivel</a>
                    <a data-toggle="modal" href="#modalEliminarNivel" class="btn btn-danger" id="btnModalEliminarTabla">Eliminar Tabla</a>
                  </div>
                </form>  
              </div>
            </div>
        </div>

        <div class="modal" id="modalAgregarNivelImpacto">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar un Nivel de Impacto</h4>
              </div>
              <div class="modal-body">
                <div class="form-horizontal col-lg-12">
                  <h5><b>Por favor, ingrese el valor para medir un nuevo nivel de impacto</b>
                  <br/><br/><small>Se recomienda que el peso 1 tenga como descripción "Muy Bajo", la descripción "Bajo" un peso 3, el nivel medio un peso 5, un peso 7 para alto y 10 para muy alto </small><br/></h5>

                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Peso</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="numeroPesoImpacto" placeholder="Peso del Nivel de Impacto" min="1">
                        </div>
                        <div class="alert-modal alert-danger" id="errorPesoImpacto" style="display: none;">
                            <span class="pull-right">Por favor, inserte un número adecuado</span>
                        </div>
                        <div class="alert-modal alert-danger" id="errorPesoRegistrado" style="display: none;">
                            <span class="pull-right">El peso ingresado ya ha sido registrado</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Descripción</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="descripcionImpacto" placeholder="Muy Bajo/Bajo/Medio/Alto/Muy Alto" maxlength="100">
                        </div>
                        <div class="alert-modal alert-danger" id="errorDescripcionImpacto" style="display: none;">
                            <span class="pull-right">Por favor, ingrese una descripción</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="control-label pull-right">Los campos con * son obligatorios</label>
                    </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button class="btn btn-success" id="btnAgregarNivelImpacto">Agregar</button>
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal" id="modalEliminarNivelImpacto">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar Niveles de Impacto</h4>
              </div>
              <div class="modal-body">
                <div class="form-horizontal col-lg-12">
                  <h5><b>¿Está seguro de querer eliminar TODOS los datos de esta tabla?</br></br>
                  Esta acción no puede ser deshecha</b></h5>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" id="btnEliminarNivelImpacto">Eliminar</button>
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div> <!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal" id="modalAgregarNivel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar un Nivel de Probabilidad</h4>
              </div>
              <div class="modal-body">
                <div class="form-horizontal col-lg-12">
                  <h5><b>Por favor, ingrese los datos del nuevo nivel de probabilidad</b>
                  <br/><br/><small>Se recomienda que el nivel 1 tenga como descripción "Muy Bajo", el nivel 2 descripción "Bajo" y así sucesivamente. Para una óptima valoración de riesgos, le recomendamos tener una cantidad impar de niveles</small><br/></h5>

                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Nivel</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="numeroNivel" placeholder="Número de Nivel" min="1" readonly="readonly">
                        </div>
                        <div class="alert-modal alert-danger" id="errorNivel" style="display: none;">
                            <span class="pull-right">Por favor, inserte un número adecuado</span>
                        </div>
                        <div class="alert-modal alert-danger" id="errorNivelMenor" style="display: none;">
                            <span class="pull-right">El nivel ingresado ya ha sido registrado</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Probabilidad Mínima</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="probabilidadMinNivel" placeholder="Probabilidad minima en %" maxlength="3" readonly="readonly">
                        </div>
                        <div class="alert-modal alert-danger" id="errorProbabilidadMin" style="display: none;">
                            <span class="pull-right">Por favor, inserte un número mayor a cero y menor al máximo</span>
                        </div>
                        <div class="alert-modal alert-danger" id="errorProbabilidadMinMayor" style="display: none;">
                            <span class="pull-right">El valor ingresado ya ha sido mapeado en otro nivel</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Probabilidad Máxima</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="probabilidadMaxNivel" placeholder="Probabilidad máxima en %" maxlength="3">
                        </div>
                        <div class="alert-modal alert-danger" id="errorProbabilidadMax" style="display: none;">
                            <span class="pull-right">Por favor, inserte un número mayor al mínimo y menor que 100</span>
                        </div>
                        <div class="alert-modal alert-danger" id="errorProbabilidadMaxMenor" style="display: none;">
                            <span class="pull-right">El valor ingresado ya ha sido mapeado en otro nivel</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-lg-5 control-label">*Descripción</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="descripcionProbabilidad" placeholder="Muy Bajo/Bajo/Medio/Alto/Muy Alto" maxlength="100">
                        </div>
                        <div class="alert-modal alert-danger" id="errorDescripcion" style="display: none;">
                            <span class="pull-right">Por favor, ingrese una descripción</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="control-label pull-right">Los campos con * son obligatorios</label>
                    </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button class="btn btn-success" id="btnAgregarNivel">Agregar</button>
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal" id="modalEliminarNivel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar Niveles de Probabilidad</h4>
              </div>
              <div class="modal-body">
                <div class="form-horizontal col-lg-12">
                  <h5><b>¿Está seguro de querer eliminar TODOS los datos de esta tabla?</br></br>
                  Esta acción no puede ser deshecha</b></h5>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" id="btnEliminarNivel">Eliminar</button>
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal" id="ModaldeErrores">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Se ha encontrado un error</h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label" id="labelErrorModal"></label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="modal" id="modalExito">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Confirmación</h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label" id="labelExitoModal"></label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </body>
</html>

<script src="../../assets/js/jquery-1.7.1.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/riesgo/js/configuracion2.js"></script>
<script src="../../static/riesgo/js/jquery-sortable.js"></script>
<script src="../../static/riesgo/js/configuracion1.js"></script>

<script>


    function deleteMe(row_id) {

       if (!confirm('¿Está seguro que desea eliminar?')) {

           ev.preventDefault();

           return false;

       } else {

           $('#my_row_' + row_id).remove();

       }

    }

</script>
<script src="../../assets/js/header.js"></script>

 <div class="modal" id="confirmDelete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Confirmación de eliminación </h3>
                        </div>
                        <div class="modal-body titulo-tabla">
                            <label class="col-lg-12 control-label">Esta seguro que desea eliminar este riesgo</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" id="btnEliminar">Eliminar</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div> 
 </div>

<script>
    var idVista=1;
    
</script>
<script src="../../static/riesgo/js/seguridadRiesgos.js"></script>