<!DOCTYPE html>
<html lang="es">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Parcial David</title>
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header"></div>



<!-- VISTA CONFIGURACION-->

    <div class="well"></div>
      <div class="col-md-3" >
        <div class="well" id="sideBarNavegacion" >
          <ul class="nav nav-pills nav-stacked">
            <li ><a href="../../views/riesgo/AcuerdosModificaciones.html">Acuerdos y Modificaciones</a></li>
            <li ><a href="../../views/riesgo/PlanRiesgos.html"  >Plan de Riesgos</a></li>
            <li class="active"><a href="../../views/riesgo/Configuracion.html" >Configuración</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-9" role="main">
        <div class="panel panel-default">
          <div class="panel-body col-lg-12">
            <h3 class="text-left">Probabilidad </h3>
            <form class="form-horizontal" >
              <table class="table table-striped">
                <thead class="titulo-tabla">
                <th>Nivel</th>
                <th>Mínimo</th>
                <th>Máximo</th>
                <th>Descripción</th>
                </thead>
                <tbody class="cuerpo-tabla" id="tablaProbabilidad">
                </tbody>
              </table>
              <div  class="col-md-12" style="text-align:center">
                <a data-toggle="modal" href="#modalAgregarNivel" class="btn btn-primary" id="btnModalAgregarNivel">Agregar nivel</a>
                <a data-toggle="modal" href="#modalEliminarNivel" class="btn btn-danger" id="btnModalEliminarTabla">Eliminar Tabla</a>
              </div>
            </form>  
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="text-left">  Definición del Tipo de Impacto </h3>
            <form class="form-horizontal">
              <table class="table table-striped">
                <thead class="titulo-tabla" id="headerTipoImpactoXNivelImpacto">
                  
                </thead>
                <tbody class="cuerpo-tabla" id="tablaTipoImpactoXNivelImpacto">
                    <!--Contenido Tabla Impacto-->

                </tbody>
              </table>
              <div class="col-md-12"  style="text-align:center">
                <a data-toggle="modal" href="#modalAumentarTipoImpactoXNivelImpacto" class="btn btn-primary" id="btnAumentar">Aumentar</a>

              </div>
            </form>  
          </div>
        </div>
      </div>

      <div class="modal" id="modalAumentarTipoImpactoXNivelImpacto">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Agregar el valor del impacto</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal col-lg-12">
                <h5><b>Por favor, seleccione un tipo de impacto</b>
                <br/><br/><small>Una vez haya hecho su selección estime los valores límites en los que considera se encuentra cuantificado cada nivel de impacto</small><br/></h5>
                <div class="form-group col-lg-12">
                  <select class="form-control" id="listarTiposImpactos">
                    <option value="0" selected>Seleccione un tipo de impacto</option>
                  </select>
                </div>
                
                <div class="form-group col-lg-12" id="CuerpoModalTiposImpactoxNivelImpacto">
                <!-- ACA VIENE EL CUERPO DINAMICO DEL MODAL SEGÚN LOS HEADERS DE NIVEL IMPACTO -->
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" id="btnAgregarTipoXNivel1" style="display: none;">Agregar Tipo</button>
              <button class="btn btn-success" id="btnAgregarTipoXNivel2" style="display: none;">Agregar Tipo</button>
              <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
			</div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="modal" id="modalAgregarNivel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Agregar un Nivel de Probabilidad</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal col-lg-12">
                <h5><b>Por favor, ingrese los datos del nuevo nivel de probabilidad</b>
                <br/><br/><small>Se recomienda que el nivel 1 tenga como descripción "Muy Bajo", el nivel 2 descripción "Bajo" y así sucesivamente. Recuerde tener una cantidad impar de niveles</small><br/></h5>

                <div class="form-group col-lg-12">
                    <label class="col-lg-5 control-label">*Nivel</label>
                    <div class="col-lg-7">
                        <input type="number" class="form-control" id="numeroNivel" placeholder="Número de Nivel" min="1">
                    </div>
                    <div class="alert-modal alert-danger" id="errorNivel" style="display: none;">
                        <span class="pull-right">Por favor, inserte un número adecuado</span>
                    </div>
                    <div class="alert-modal alert-danger" id="errorNivelMenor" style="display: none;">
                        <span class="pull-right">El nivel ingresado ya ha sido registrado</span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-5 control-label">*Probabilidad Mínima</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="probabilidadMinNivel" placeholder="Probabilidad minima en %" maxlength="3">
                    </div>
                    <div class="alert-modal alert-danger" id="errorProbabilidadMin" style="display: none;">
                        <span class="pull-right">Por favor, inserte un número menor al máximo</span>
                    </div>
                    <div class="alert-modal alert-danger" id="errorProbabilidadMinMayor" style="display: none;">
                        <span class="pull-right">El valor ingresado ya ha sido mapeado en otro nivel</span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-5 control-label">*Probabilidad Máxima</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="probabilidadMaxNivel" placeholder="Probabilidad máxima en %" maxlength="3">
                    </div>
                    <div class="alert-modal alert-danger" id="errorProbabilidadMax" style="display: none;">
                        <span class="pull-right">Por favor, inserte un número mayor al mínimo</span>
                    </div>
                    <div class="alert-modal alert-danger" id="errorProbabilidadMaxMenor" style="display: none;">
                        <span class="pull-right">El valor ingresado ya ha sido mapeado en otro nivel</span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-5 control-label">*Descripción</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="descripcionProbabilidad" placeholder="Muy Bajo/Bajo/Medio/Alto/Muy Alto" maxlength="100">
                    </div>
                    <div class="alert-modal alert-danger" id="errorDescripcion" style="display: none;">
                        <span class="pull-right">Por favor, ingrese una descripción</span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="control-label pull-right">Los campos con * son obligatorios</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" id="btnAgregarNivel">Agregar</button>
              <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="modal" id="modalEliminarNivel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Eliminar Niveles de Probabilidad</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal col-lg-12">
                <h5><b>¿Está seguro de querer eliminar TODOS los datos de esta tabla?</br></br>
                Esta acción no puede ser deshecha</b></h5>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" id="btnEliminarNivel">Eliminar</button>
              <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>

  </body>
</html>

<script src="../../assets/js/jquery-1.7.1.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/riesgo/js/configuracionDavid.js"></script>
<script src="../../assets/js/header.js"></script>