<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Plan de Riesgos</title>
        <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/riesgo/css/riesgo.css" rel="stylesheet">
        <!-- <link href="../../static/riesgo/css/application.css" rel="stylesheet"> -->

        <link href="../../static/riesgo/css/vendor.css" rel="stylesheet">

    </head>

    <body>
        <div id="header"></div>
        <div class="h1-title">
        <h2></h2>
        </div>
        <!-- VISTA PLAN RIESGOS-->

        <div class="well"></div>


        <div class="container">
            <div class="col-md-12" role="main">
                <!-- <div class="panel panel-default">
                  <div class="panel-body">
                    <label  class="col-lg-2 control-label"><b>Metodología</b></label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="5" id="metodologia"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary " id="btnGuardarMetodologia">Guardar</button>
                  </div>
                </div> -->



                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-left">  Definición del Tipo de Impacto </h3>
                        <form class="form-horizontal">
                            <table class="table table-striped">
                                <thead class="titulo-tabla" id="headerTipoImpactoXNivelImpacto">

                                </thead>
                                <tbody class="cuerpo-tabla" id="tablaTipoImpactoXNivelImpacto">
                                    <!--Contenido Tabla Impacto-->

                                </tbody>
                            </table>
                            <div class="col-md-12"  style="text-align:center">
                                <a data-toggle="modal" href="#modalAumentarTipoImpactoXNivelImpacto" class="btn btn-primary" id="btnAumentar">Aumentar</a>
                                <a data-toggle="modal" href="#modalEliminarTipoImpactoXNivelImpacto" class="btn btn-danger" id="btnEliminarTipoXNivelModal">Eliminar</a>
                            </div>
                        </form>  
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-left">  Categorización de Estrategias Positivo </h3>
                        <div class="col-md-10">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label  class="col-lg-5 control-label">Puntaje Mínimo:</label>
                                    <div class="col-lg-3">
                                        <input type="text" id="puntajeMin" class="form-control puntajeMin" disabled >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-5 control-label">Puntaje Máximo:</label>
                                    <div class="col-lg-3">
                                        <input type="text" id="puntajeMax" class="form-control puntajeMax" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-lg-5 control-label">Cantidad de Estrategias (Máximo 4):</label>
                                    <div class="col-lg-3">
                                        <input type="text" id="cantidadEstrategias1" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <button type="button" class="btn btn-success" id="btnGenerar1">Generar</button>

                            </div>
                        </div>
                        <form  name="form1">
                            <table class="table table-striped" width="90%" id="tablaRecursos">
                                <tr>
                                    <td width="20%"><b>Puntaje Min</b></td>
                                    <td width="30%"><b>Puntaje Max</b></td>
                                    <td width="24%"><b>Prioridad</b></td>
                                    <td width="20%"><b>Estrategia</b></td>
                                    <td width="20%"><b>Significado de la Estrategia</b></td>
                                </tr>

                                <tbody class="cuerpo-tabla" id="tablaCategorizacion1">
                                    <!--Contenido Tabla Categorizacion-->
                                </tbody>
                            </table>
                            <div class="col-md-12"  style="text-align:center">
                                <button type="button" class="btn btn-primary" id="btnGrabarCategorizacion1">Guardar</button>
                                <button type="button" class="btn btn-primary" id="btnCancelar1">Cancelar</button>
                            </div>
                        </form>  
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-left">  Categorización de Estrategias Negativo </h3>
                        <div class="col-md-10">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label  class="col-lg-5 control-label">Puntaje Mínimo:</label>
                                    <div class="col-lg-3">
                                        <input type="text" id="puntajeMin" class="form-control puntajeMin" disabled >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-5 control-label">Puntaje Máximo:</label>
                                    <div class="col-lg-3">
                                        <input type="text" id="puntajeMax" class="form-control puntajeMax" disabled>
                                    </div>
                                    <label  class="col-lg-5 control-label">Cantidad de Estrategias (Máximo 4):</label>
                                </div>
                                   <div class="form-group">
                                    <div class="col-lg-3">
                                        <input type="text" id="cantidadEstrategias2" class="form-control">
                                      
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-lg-4">
                              <button type="button" class="btn btn-success" id="btnGenerar2">Generar</button>

                        </div>
                            </div>
                        <form  name="form1">
                            <table class="table table-striped" width="90%" id="tablaRecursos">
                                <tr>
                                    <td width="20%"><b>Puntaje Min</b></td>
                                    <td width="30%"><b>Puntaje Max</b></td>
                                    <td width="24%"><b>Prioridad</b></td>
                                    <td width="20%"><b>Estrategia</b></td>
                                    <td width="20%"><b>Significado de la Estrategia</b></td>
                                </tr>

                                <tbody class="cuerpo-tabla" id="tablaCategorizacion2">
                                    <!--Contenido Tabla Categorizacion-->
                                </tbody>
                            </table>
                            <div class="col-md-12"  style="text-align:center">
                                <button type="button" class="btn btn-primary" id="btnGrabarCategorizacion2">Guardar</button>
                                <button type="button" class="btn btn-primary" id="btnCancelar2">Cancelar</button>
                            </div>
                        </form>  
                    </div>
                </div>



            </div>


        </div>


        <div class="modal fade" id="modalAumentarTipoImpactoXNivelImpacto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Agregar el valor del impacto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal col-lg-12">
                            <h5><b>Por favor, seleccione un tipo de impacto</b>
                                <br/><br/><small>Una vez haya hecho su selección estime los valores límites en los que considera se encuentra cuantificado cada nivel de impacto</small><br/></h5>
                            <div class="form-group col-lg-12">
                                <select class="form-control" id="listarTiposImpactos">
                                    <option value="0" selected>Seleccione un tipo de impacto</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-12" id="CuerpoModalTiposImpactoxNivelImpacto">
                                <!-- ACA VIENE EL CUERPO DINAMICO DEL MODAL SEGÚN LOS HEADERS DE NIVEL IMPACTO -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="btnAgregarTipoXNivel1" style="display: none;">Agregar Tipo</button>
                        <button class="btn btn-success" id="btnAgregarTipoXNivel2" style="display: none;">Agregar Tipo</button>
                        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="modalEliminarTipoImpactoXNivelImpacto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Eliminar Definición del Tipo de Impacto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal col-lg-12">
                            <h5><b>¿Esta seguro de querer eliminar todo el contenido de la tabla?</br>Este es un cambio que no puede ser deshecho</b></h5>

                            <div class="modal-footer">
                                <button class="btn btn-danger" id="btnEliminarTipoXNivel">Continuar</button>
                                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>

                <div class="modal" id="ModaldeErrores">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Se ha encontrado un error</h3>
                            </div>
                            <div class="modal-body titulo-tabla">
                                <label class="col-lg-12 control-label" id="labelErrorModal"></label>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="modal" id="modalExito">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Confirmación</h3>
                            </div>
                            <div class="modal-body titulo-tabla">
                                <label class="col-lg-12 control-label" id="labelExitoModal"></label>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div> 
                </div>

        

                </body>
                </html>




                <script src="../../assets/js/jquery-1.7.1.min.js"></script>
                <script src="../../bootstrap/js/bootstrap.min.js"></script>
                <!-- <script src="../../static/riesgo/js/configuracionDavid.js"></script> -->
                <script src="../../static/riesgo/js/planRiesgos2.js"></script>
                <!-- <script src="../../static/riesgo/js/jquery-sortable.js"></script> -->

                <script src="../../static/riesgo/js/planRiesgos1.js"></script>
                <script src="../../assets/js/header.js"></script>
                <script src="../../static/riesgo/js/seguridadRiesgos.js"></script>
                <script>


                </script>
                
  <script>
    var idVista=2;
    
</script>